@{
    Tag tag = ViewBag.Tag;
    ViewBag.Title = tag.NiceName + " Trips & Vacations";
    IEnumerable<Item> items = ViewBag.Items;
    TripSearchForm tripSearchForm = new TripSearchForm(tag: tag);
}
<article>
    <header>
        <h1>@tag.NiceName
        </h1>
    </header>
    @if (tripSearchForm.Results.Any())
    {
        <section>
            <h2>
                Trips</h2>
            @Html.Action("SearchResults", "Trips", new { form = tripSearchForm })
        </section>
    }
    @if (items.Any())
    {
        <section>
            <h2>
                Packing List</h2>
            <ul class="packing-list-items">
                @foreach (var item in items.Take(50))
                {
                    <li class="packing-list-item add-to-trip" data-type="packing-list-item" data-name="@item.Name" data-tag="@tag.Name" title="Click to add to trip">
                        <div class="name">
                            @item.Name
                        </div>
                    </li>
                }
            </ul>
        </section>
    }
    @if (!tripSearchForm.Results.Any() && !items.Any())
    {
        <p style="margin: 20px;">
            No trips or packing list items found.</p>
    }
</article>