@{
    ViewBag.Title = ViewBag.Tag.Name;
    Tag tag = (Tag)ViewBag.Tag;
}
<div id="side-container">
    <a href="@Url.Details(tag)">Details</a>
</div>
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>@tag.Name</h1>
        </div>
        <div class="panel-content">
            @*<h2>
                Popular Cities</h2>
            <div class="cities">
                @foreach (var city in tag.CitiesToShow)
                {
                    <div class="city">
                        <a href="@Url.Details(city)">@city.FullName</a>
                    </div>
                }
            </div>*@
            <h2>@tag.Name - Trips</h2>
            @if (tag.PublicTrips.Any())
            {
                Html.RenderAction("_rows", "Trips", new { trips = tag.PublicTrips });
            }
            else
            {
                <div>
                    No trips found</div>
            }
            @if (tag.Items.Any())
            {
                <h2>
                    Packing List</h2>
                @Helpers.ItemList(Url, tag.Items)
            }
        </div>
    </div>
</div>
