@{
    ViewBag.Title = ViewBag.Tag.Name;
    Tag tag = (Tag)ViewBag.Tag;
}
<div id="side-container">
    <a href="@Url.Details(tag)">Details</a>
</div>
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>@tag.Name</h1>
        </div>
        <div class="panel-content">
            <h2>
                Popular Cities</h2>
            <div class="cities">
                @foreach (var city in tag.CitiesToShow)
                {
                    <div class="city">
                        <a href="@Url.Details(city)">@city.FullName</a>
                    </div>
                }
                <h2>
                    Packing List</h2>
                <div class="items">
                    @foreach (var item in tag.Items)
                    {
                        <div class="item">
                            @item.Name
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
