@{
    Trip trip = ViewBag.Trip;
}
<h1>
    <a href="@Url.Details(trip)">@trip.Name</a></h1>
<form action="@Url.Admin("trips", "edit", new { trip.Id })" method="post">
@Html.LabelFor(model => trip.ShowInSearch, "Show in Searches?")
@Html.CheckBoxFor(model => trip.ShowInSearch)
<input type="submit" value="Save" />
</form>