<h1>
    Trips</h1>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            User
        </th>
        <th>
            Created
        </th>
        <th>
            Moderated
        </th>
        <th>
            Show In Site?
        </th>
        <th>
            Show In Sitemap
        </th>
    </tr>
    @foreach (Trip trip in ViewBag.Trips)
    {
        <tr>
            <td>
                <a href="@Url.Admin("trips", "details", new { trip.Id })">@trip.Name</a>
            </td>
            <td>
                @trip.User.Email
            </td>
            <td>
                @trip.Created_On
            </td>
            <td>
                @trip.Moderated
            </td>
            <td>
                @trip.ShowInSite
            </td>
            <td>
                @trip.ShowInSiteMap
            </td>
        </tr>
    }
</table>
