@{
    ViewBag.Title = ViewBag.Hotel.Name;
    Hotel hotel = ViewBag.Hotel;
}
@section Scripts {
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
        
            var hotelPoint = new google.maps.LatLng(@hotel.Latitude, @hotel.Longitude);
            var myOptions = {
              zoom: 15,
              center: hotelPoint,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById("hotel-details-map-container"), myOptions);
            var hotelMarker = new google.maps.Marker({ position: hotelPoint, map: map, title: '@hotel.Name' });
        });
    </script>
}
<div id="side-container">
    <a href="@Url.Details(hotel)">Details</a> @*<a href="#">Map</a> <a href="#">Trips</a> <a href="#">Alternatives</a>*@
</div>
<div id="main-container">
    <div class="panel">
        <div class="title">
            <h1>@hotel.Name</h1>
        </div>
        <div class="subtitle">
            <div data-hotel-id="@hotel.Id" class="add-activity link" data-activity-type="hotel">
                Add to Trip</div>
        </div>
        <div class="panel-content">
            <img class="hotel-photo" alt="" src="@hotel.Photo.ImageURL" />
        </div>
    </div>
    <div class="panel">
        <div class="panel-content">
            <h2>
                Map</h2>
            <div id="hotel-details-map-container">
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-content">
            <h2>
                Trips to @ViewBag.Hotel.Name</h2>
            @if (hotel.Trips.Any())
            {
                <div id="hotel-details-related-trips">
                    @Html.Action("_rows", "trips", new { trips = hotel.Trips })
                </div>
            }
            else
            {
                <div>
                    No trips found! <a href="@Url.CreateTrip()">Create one here.</a>
                </div>
            }
        </div>
    </div>
</div>
