@{
    ViewBag.Title = ViewBag.Hotel.BaseItem.Name;
    ExpediaHotel hotel = ViewBag.Hotel;
}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
        var myLatlng = new google.maps.LatLng(@hotel.BaseItem.Latitude, @hotel.BaseItem.Longitude);
        var myOptions = {
          zoom: 15,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(document.getElementById("hotel-details-map-container"), myOptions);
        var ctaLayer = new google.maps.KmlLayer('@Url.Map(hotel.BaseItem)', {preserveViewport:true});
        ctaLayer.setMap(map);

    });
</script>
<h1>@ViewBag.Hotel.BaseItem.Name</h1>
@Html.AddToTripButton(Url, hotel.BaseItem)
<div id="hotel-details-map-container">
</div>
<div id="hotel-details-related-trips">
    <h2>
        Related Trips</h2>
    @foreach (Trip trip in hotel.BaseItem.Trips)
    {
        <div>
            <a href="@Url.PublicDetails(trip)">@trip.Name</a>
        </div>
    }
</div>
