@using Triptitude.Biz.Models;
@using System.Web.Helpers;
@using System.Web.Mvc;
@using Triptitude.Web.Helpers;
@helper TagTable(UrlHelper Url, IEnumerable<Tag> tags)
    {
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                # Activities
            </th>
            <th>
                # Items
            </th>
            <th>
                Moderated
            </th>
            <th>
                Show In Site
            </th>
        </tr>
        @foreach (Tag tag in tags)
        {
            <tr>
                <td>
                    <a href="@Url.Admin("tags", "edit", new { tag.Id })">@tag.Name</a>
                </td>
                <td>
                    @tag.Activities.Count()
                </td>
                <td>
                    @tag.ItemTags.Count()
                </td>
                <td>@tag.ModeratedOnUTC
                </td>
                <td>@tag.ShowInSearch
                </td>
            </tr>
        }
    </table>
}
@helper CreateTag(UrlHelper Url, string tagNameClass = "focus")
    {
    <form action="@Url.Admin("tags", "create")">
    <label for="tagname">
        Tag Name</label>
    <input type="text" name="tagname" id="tagname" class="tag-autocomplete @tagNameClass" />
    <input type="submit" value="Find or Create" />
    </form>
}
@helper ItemTagTable(UrlHelper Url, IEnumerable<ItemTag> itemTags)
    {
    <table>
        <tr>
            <th>
                Item
            </th>
            <th>
                Tag
            </th>
            <th>
                # Lists
            </th>
            <th>
                Moderated
            </th>
            <th>
                Show In Site
            </th>
            <th>
            </th>
        </tr>
        @foreach (var itemTag in itemTags)
        {
            <tr>
                <td>@itemTag.Item.Name
                </td>
                <td>
                    @if (itemTag.Tag != null)
                    {
                        <a href="@Url.Admin("tags", "edit", new { itemTag.Tag.Id })">@itemTag.Tag.Name</a>
                    }
                </td>
                <td>@itemTag.PackingListItems.Count()
                </td>
                <td>@itemTag.ModeratedOnUTC
                </td>
                <td>@itemTag.ShowInSearch
                </td>
                <td style="text-align: right;">
                    <a href="@Url.Admin("itemtags", "moderate", new { itemTag.Id, show = true })">show</a> / <a href="@Url.Admin("itemtags", "moderate", new { itemTag.Id, show = false })">hide</a> / <a href="@Url.Admin("itemtags", "delete", new { itemTag.Id, show = false })" class="confirm-delete">delete</a>
                </td>
            </tr>
        }
    </table>
}
@helper CreateItemTag(UrlHelper Url, string tagName = null, string tagNameClass = "focus", string itemNameClass = "")
    {
    <form id="create-item-tag-form" action="@Url.Admin("itemtags", "create")">
    <label for="tagname">
        Tag</label>
    <input type="text" name="tagname" id="tagname" value="@tagName" class="tag-autocomplete @tagNameClass" />
    <label for="itemname">
        Item</label>
    <input type="text" name="itemname" id="itemname" class="item-autocomplete @itemNameClass" />
    <input type="submit" value="Submit" />
    </form>
}