@using Triptitude.Biz.Models;
@using System.Web.Helpers;
@using System.Web.Mvc;
@using Triptitude.Web.Helpers;
@helper ActivityFormTabs(UrlHelper Url, Triptitude.Biz.Forms.ActivityForm form)
    {
    <ul id="dialog-menu">
        <li class="@(form.SelectedTab == Triptitude.Biz.Forms.ActivityForm.Tabs.Details ? "selected-page" : string.Empty)" data-page="details">Details</li>
        <li class="@(form.SelectedTab == Triptitude.Biz.Forms.ActivityForm.Tabs.Notes ? "selected-page" : string.Empty)" data-page="notes">Notes</li>
    </ul>
    <div class="dialog-page @(form.SelectedTab == Triptitude.Biz.Forms.ActivityForm.Tabs.Notes ? "selected-page" : string.Empty)" data-page="notes">
        @NoteList(Url, form.Notes)
        <p>
            <label for="note">
                Add Note:</label>
            <textarea class="note-text focus" name="note" id="note" value="@form.Note" />
        </p>
    </div>
}
@helper NoteList(UrlHelper Url, IEnumerable<Note> notes)
    {
        if (notes != null && notes.Any())
        {
    <ul class="notes">
        @foreach (var note in notes)
        {
            <li class="note">
                @note.Text
            </li>
        }
    </ul>
        }    
}
@helper TagList(UrlHelper Url, IEnumerable<Tag> tags)
    {
        if (tags.Any())
        {
    <ul class="tags">
        @foreach (Tag tag in tags)
        {
            <li><a class="tag" href="@Url.Details(tag)">@tag.NiceName</a> </li>
        }
    </ul>
        }
}
@helper SidePanel(UrlHelper url, Place place)
    {
@*<div id="side-container">
        <a href="@url.Details(place)">Details</a> <a href="@url.Nearby(place)">Nearby</a>
    </div>*@
}
@helper TripSearchForm(Triptitude.Biz.Forms.TripSearchForm form)
    {
    <form id="trip-search-form" class="search-form" action="/">
    @*<input type="hidden" name="take" value="@form.Take"/>*@
    <input type="text" name="tagstring" id="tagstring" value="@form.TagString" class="tag-autocomplete auto-submit" placeholder="ex: skiing" />
    <span>near</span>
    <input type="text" name="place" class="place-autocomplete auto-submit" data-goog-reference-field="googreference" data-goog-id-field="googid" data-goog-name-field="googname" data-map-id="place-map"  id="map-search-input" value="@form.GoogName" placeholder="place (optional)" />
    <input type="hidden" name="googreference" value="@form.GoogReference" />
    <input type="hidden" name="googid" value="@form.GoogId" />
    <input type="hidden" name="googname" value="@form.GoogName" />
    <input type="submit" value="Search" />
    </form>
}