@using Triptitude.Biz.Models;
@using System.Web.Helpers;
@using System.Web.Mvc;
@using Triptitude.Web.Helpers;
@helper ActivityFormTabs(UrlHelper Url, Triptitude.Biz.Forms.ActivityForm form)
    {
    <ul id="dialog-menu">
        <li class="@(form.SelectedTab == Triptitude.Biz.Forms.ActivityForm.Tabs.Details ? "selected-page" : string.Empty)" data-page="details">Details</li>
        <li class="@(form.SelectedTab == Triptitude.Biz.Forms.ActivityForm.Tabs.Notes ? "selected-page" : string.Empty)" data-page="notes">Notes</li>
    </ul>
    <div class="dialog-page @(form.SelectedTab == Triptitude.Biz.Forms.ActivityForm.Tabs.Notes ? "selected-page" : string.Empty)" data-page="notes">
        @NoteList(Url, form.Notes)
        <p>
            <label for="note">
                Add Note:</label>
            <textarea class="note-text focus" name="note" id="note" value="@form.Note" />
        </p>
    </div>
}
@helper NoteList(UrlHelper Url, IEnumerable<Note> notes)
    {
        if (notes != null && notes.Any())
        {
    <ul class="notes">
        @foreach (var note in notes)
        {
            <li class="note">
                @note.Text
            </li>
        }
    </ul>
        }    
}
@helper TagList(UrlHelper Url, IEnumerable<Tag> tags)
    {
        if (tags.Any())
        {
    <ul class="tags">
        @foreach (Tag tag in tags)
        {
            <li><a class="tag" href="@Url.Details(tag)">@tag.NiceName</a> </li>
        }
    </ul>
        }
}
@helper SidePanel(UrlHelper url, Place place)
    {
@*<div id="side-container">
        <a href="@url.Details(place)">Details</a> <a href="@url.Nearby(place)">Nearby</a>
    </div>*@
}