@{
    Place place = ViewBag.Place;
    ViewBag.Title = place.Name;
    User currentUser = ViewBag.CurrentUser;
}
@Helpers.SidePanel(Url, place)
<div id="main-container">
    <div class="panel">
        <div class="title">
            <h1>
                @ViewBag.Title
            </h1>
            <a rel="nofollow" class="add-to-trip" data-id="@place.GoogId" data-name="@place.Name" data-reference="@place.GoogReference" >+ Add to Trip</a>
        </div>
        @if (currentUser.DefaultTrip == null)
        {
            <div class="subtitle">
                <a href="@Url.CreateTrip(place)">Create a trip to @place.Name</a>
            </div>
        }
        <div class="panel-content">
            <h2>
                Trips to @place.Name</h2>
            @if (place.PublicTrips.Any())
            {
                Html.RenderAction("_rows", "Trips", new { trips = place.PublicTrips.OrderByDescending(t => t.Id).Take(10) });
            }
            else
            {
                <div>
                    No trips found</div>
            }
        </div>
    </div>
    <div class="panel" id="places-nearby">
        <div class="panel-content">
            <h2>
                Places Near @place.Name</h2>
            <form id="placeSearch">
            <input type="text" id="keyword" />
            <select id="types">
                <option value="">Everything</option>
                <option value="lodging">Lodging</option>
                <option value="food">Restaurants</option>
            </select>
            <input type="submit" value="Search" />
            </form>
            <div id="mapanchor">
            </div>
            <div id="map" data-lat="@place.Latitude" data-lng="@place.Longitude">
            </div>
            <ul class="place-rows">
            </ul>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" charset="utf-8">
        T.NearbyPlaces();
    </script>
}
