@{
    Place place = ViewBag.Place;
    ViewBag.Title = place.Name + " Trips & Vacations";
    User currentUser = ViewBag.CurrentUser;
    TripSearchForm tripSearchForm = new TripSearchForm(place);
}
@Helpers.SidePanel(Url, place)
<article>
    <header>
        <h1>@place.Name</h1>
        <div class="subtitle">
            @if (currentUser.DefaultTrip == null)
            {
                <text><a href="@Url.CreateTrip(place)">Create a trip to @place.Name</a> | </text>
            }
            <a rel="nofollow" class="add-to-trip" data-id="@place.GoogId" data-name="@place.Name" data-reference="@place.GoogReference" >+ Add to Trip</a>
        </div>
    </header>
    @if (tripSearchForm.Results.Any())
    {
        <section id="trips">
            <h2>
                Trips near @place.Name</h2>
            @Html.Action("SearchResults", "Trips", new {form = tripSearchForm})
        </section>
    }
    <section id="places-nearby">
        <h2>
            Places Near @place.Name</h2>
        <form id="placeSearch">
        <input type="text" id="keyword" placeholder="What are you looking for?" />
        <select id="types">
            <option value="">Everything</option>
            <option value="lodging">Lodging</option>
            <option value="food">Restaurants</option>
        </select>
        <input type="submit" value="Search" />
        </form>
        <div id="mapanchor">
        </div>
        <div id="map" data-lat="@place.Latitude" data-lng="@place.Longitude">
        </div>
        <ul id="place-rows">
        </ul>
    </section>
</article>
@section Scripts {
    <script type="text/javascript" charset="utf-8">
        T.NearbyPlaces();
    </script>
}
