<div class="place-rows">
    @foreach (Place place in ViewBag.Places)
    {
        <div class="place">
            <span class="place-name link">@place.Name</span>
            <div>
                @(string.IsNullOrWhiteSpace(place.Category) ? string.Empty : place.Category + ",")
                @place.Locality, @place.Region, @place.Country
            </div>
            <span class="add-activity link" data-activity-type="place" data-place-id="@place.FactualId">Add to Trip</span>
        </div>
    }
</div>
