@{
    Hotel hotel = ViewBag.Hotel;
    IQueryable<Hotel> nearbyHotels = ViewBag.NearbyHotels;
}
<?xml version="1.0" encoding="UTF-8" ?>
<kml xmlns="http://www.opengis.net/kml/2.2">
    <Document>
        <Style id="highlightPlacemark">
            <IconStyle>
                <Icon>
                    <href>http://maps.google.com/mapfiles/kml/paddle/red-stars.png</href>
                </Icon>
            </IconStyle>
        </Style>
        <Placemark>
            <name>@hotel.Name</name>
            <styleUrl>#highlightPlacemark</styleUrl>
            <Point>
                <coordinates>@hotel.Longitude, @hotel.Latitude</coordinates>
            </Point>
        </Placemark>

        @foreach (Hotel nearbyHotel in nearbyHotels)
        {
        <Placemark>
            <description><![CDATA[
            <a href="@Url.Details(nearbyHotel)">@nearbyHotel.Name</a>
            ]]>
            </description>
            <Point>
                <coordinates>@nearbyHotel.Longitude, @nearbyHotel.Latitude</coordinates>
            </Point>
        </Placemark>   
        }
    </Document>
</kml>
