@{
    Layout = null;
    ExpediaHotel hotel = ViewBag.ExpediaHotel;
    IQueryable<ExpediaHotel> nearbyHotels = ViewBag.NearbyHotels;
}
<?xml version="1.0" encoding="UTF-8" ?>
<kml xmlns="http://www.opengis.net/kml/2.2">
    <Document>
        <Style id="highlightPlacemark">
            <IconStyle>
                <Icon>
                    <href>http://maps.google.com/mapfiles/kml/paddle/red-stars.png</href>
                </Icon>
            </IconStyle>
        </Style>
        <Placemark>
            <name>@hotel.BaseItem.Name</name>
            <styleUrl>#highlightPlacemark</styleUrl>
            <Point>
                <coordinates>@hotel.BaseItem.Longitude, @hotel.BaseItem.Latitude</coordinates>
            </Point>
        </Placemark>

        @foreach (ExpediaHotel nearbyHotel in nearbyHotels)
        {
        <Placemark>
            <description><![CDATA[
            <a href="@Url.HotelDetails(nearbyHotel)">@nearbyHotel.BaseItem.Name</a>
            ]]>
            </description>
            <Point>
                <coordinates>@nearbyHotel.BaseItem.Longitude, @nearbyHotel.BaseItem.Latitude</coordinates>
            </Point>
        </Placemark>   
        }

    </Document>
</kml>
