@{
    User currentUser = (User)ViewBag.CurrentUser;
    IEnumerable<Trip> currentUserTrips = currentUser.Trips(currentUser);
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title | Triptitude.com</title>
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description" />
    }
    @if (ViewBag.ShowInSiteMap == false)
    {
        <meta name="robots" content="noindex" />
    }
    <meta name="viewport" content="width=device-width; initial-scale=1.0, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
</head>
<body id="@Html.RouteCssId()" class="@Html.RouteCssClasses()" data-id="@Html.RouteId()" style="background-image: url(@Url.Static("backgrounds/beach.jpg"));">
    <header>
        <div id="header-container">
            <div id="header">
                <a id="logo" href="/">Triptitude</a> @*<a onclick="alert('Drag me to the bookarks bar'); return false;" href="javascript:void((function(){var e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','@ConfigurationManager.AppSettings["RootUrl"]Scripts/tripmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)})());" title="Add to Trip">Add to Trip</a> *@ @*<div id="search">
            <form action="@Url.PlaceSearch()" method="post">
            <input type="text" name="s" class="place-autocomplete" data-goog-reference-field="googreference" data-goog-id-field="googid" data-auto-submit="true" placeholder="Where 
            going?" accesskey="s" />
            <input type="hidden" name="googreference" />
            <input type="hidden" name="googid" />
            <input type="submit" value="Go >" />
            </form>
        </div>*@
                <div id="user-status">
                    @if (Request.IsAuthenticated)
                    {
                        <p>
                            Welcome, <a href="@Url.MyTrips()">@currentUser.NameOrAnon</a>
                        </p>
                        <p>
                            <a href="/trips/create" accesskey="c" class="create-trip">create a trip</a> <a href="@Url.MyTrips()" accesskey="m">my trips</a> <a href="/logout">sign out</a>
                        </p>
                    }
                    else
                    {
                        <p class="single">
                            <a class="sign-up">sign up</a> <a class="login">log in</a>
                        </p>
                    }
                </div>
            </div>
        </div>
        <div id="scrollanchor">
        </div>
        @if (currentUser.DefaultTrip != null)
        {     
            <div id="trip-bar-container" class="trip-yes">
                <div id="trip-bar" data-trip-id="@currentUser.DefaultTrip.Id" >
                    <ul id="trip-bar-menu">
                        <li><span class="link">Go To...</span>
                            <ul>
                                <li><a href="@Url.Details(currentUser.DefaultTrip)" accesskey="w">Dashboard<span><strong>Your trip overview</strong></span></a></li>
                                <li><a href="@Url.Who(currentUser.DefaultTrip)" accesskey="w">Who's Going<span><strong>Add your fellow travelers</strong></span></a></li>
                                <li><a href="@Url.Itinerary(currentUser.DefaultTrip)" accesskey="i">Itinerary<span><strong>Review your itinerary</strong></span></a></li>
                                <li><a href="@Url.PackingList(currentUser.DefaultTrip)">Packing List<span><strong>Update your packing list</strong></span></a></li>
                                <li><a href="@Url.Settings(currentUser.DefaultTrip)">Settings<span><strong>Change title and privacy</strong></span></a></li>
                            </ul>
                        </li>
                    </ul>
                    <div id="trip-bar-pre-title">
                        currently planning...</div>
                    <a id="trip-bar-title" href="@Url.Details(currentUser.DefaultTrip)">
                        @currentUser.DefaultTrip.Name</a>
                    @if (string.IsNullOrWhiteSpace(currentUser.Email) && !currentUserTrips.IsNullOrEmpty())
                    {
                        <div id="email-warning">
                            You should <a class="sign-up" href="@Url.MySettings()">sign up</a> or <a class="login">log in</a> to save your trip!
                        </div>
                    }
                </div>
            </div>
        }
        else
        {
            <div id="trip-bar-container" class="trip-no">
                <div id="trip-bar">
                    <div id="trip-bar-title">
                        Like to travel? <a href="/">Plan your next trip</a>
                    </div>
                </div>
            </div>
        }
    </header>
    <div id="content">
        @RenderBody()
    </div>
    <footer>
        <span>© @DateTime.Now.Year Triptitude.com | <a href="/home/attribution">attribution</a> </span>
    </footer>
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
    @*<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true&libraries=places"></script>*@
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
    @if (Request.Url.Host.Contains("triptitude.com") && HttpContext.Current.User.Identity.Name != "1|mikecomstock@gmail.com")
    {
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-3390924-10']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

            var uvOptions = {};
            (function () {
                var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
                uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/sKjQdlXWa6N6Plv5X7j4Q.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
            })();
            
        </script>
    }
</body>
</html>
