@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Triptitude.com</title>
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/editor")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body { margin: 0; }
    </style>
</head>
<body>
    <div id="editor">
        <h1>
            This is a test! Edit goes here</h1>
        <div>
            test
        </div>
        <p>
            URL: @ViewBag.URL
        </p>
    </div>
    <script type="text/javascript" src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/editor")"></script>
    <script type="text/javascript">
        $(function () {

            var currentUserData = @Html.Raw(Json.Encode(ViewBag.CurrentUserData));
            var currentUserModel = new TT.Models.User(currentUserData);

            var currentTrip = currentUserModel.getCurrentTrip();
            var newActivity = new TT.Models.Activity({ Title: '@ViewBag.ParsedTitle', TripID: currentTrip.id, SourceURL: '@ViewBag.URL' });
            currentTrip.get('Activities').add(newActivity);
            
            var editor = new TT.Views.Editor.Main({ el: $('#editor'), model: currentUserModel, edit: newActivity });
            editor.render();
        });
    </script>
</body>
</html>