@{
    Transportation t = (Transportation)ViewBag.Transportation;
    Triptitude.Biz.Forms.TransportationForm form = (Triptitude.Biz.Forms.TransportationForm)ViewBag.Form;
}
<form action="@Url.Edit(t)" method="post">
<input type="hidden" name="id" value="@form.Id" />
<input type="hidden" name="tripid" value="@form.TripId" />
<p>
    <label for="fromcityname">
        From</label>
    <input type="text" name="fromcityname" data-hidden-field-name="fromcityid" class="destination-autocomplete" value="@form.FromCityName" />
    <input type="hidden" name="fromcityid" value="@form.FromCityId" />
</p>
<p>
    <label for="tocityname">
        To</label>
    <input type="text" name="tocityname" data-hidden-field-name="tocityid" class="destination-autocomplete" value="@form.ToCityName" />
    <input type="hidden" name="tocityid" value="@form.ToCityId" />
</p>
<p>
    <label for="beginDay">
        Begin Day
    </label>
    <input type="text" name="beginDay" value="@form.BeginDay" />
</p>
<p>
    <label for="endDay">
        End Day
    </label>
    <input type="text" name="endDay" value="@form.EndDay" />
</p>
</form>
