@{
    ViewBag.Title = "Login";
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () { document.getElementById('email').focus(); });
    </script>
}
<div id="main-container">
    <div class="panel">
        <header>
            <h1>
                Welcome back!</h1>
        </header>
        <div class="panel-content">
            <form method="post" action="@Url.Login()">
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnurl" value="@ViewBag.Form.ReturnUrl" />
            @Html.ValidationMessage("credentials")
            <p>
                @Html.ValidationMessage("email")
                <label for="email">
                    Email</label>
                <input type="text" id="email" name="email" value="@ViewBag.Form.Email" tabindex="1" />
                <a href="@Url.ForgotPass()" tabindex="5">Forgot Password</a>
            </p>
            <p>
                @Html.ValidationMessage("password")
                <label for="password">
                    Password</label>
                <input type="password" id="password" name="password" tabindex="2" />
            </p>
            <input type="submit" value="Log In" tabindex="3" />
            </form>
        </div>
    </div>
</div>
