@{
    ViewBag.Title = "login";
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () { document.getElementById('email').focus(); });
    </script>
}
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                Login</h1>
        </div>
        <div class="panel-content">
            <h1>
                Welcome back!</h1>
            <form method="post" action="@Url.Login()">
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("credentials")
            <p>
                @Html.ValidationMessage("email")
                <label for="email">
                    Email</label>
                <input type="text" id="email" name="email" value="@ViewBag.Form.Email" />
            </p>
            <p>
                @Html.ValidationMessage("password")
                <label for="password">
                    Password</label>
                <input type="password" id="password" name="password" />
            </p>
            <input type="submit" value="Log In" />
            </form>
        </div>
    </div>
</div>
