@{
    ViewBag.Title = ViewBag.Tag.Name + " near " + ViewBag.Destination.ShortName;
    var tag = (Tag)ViewBag.Tag;
}
@Html.Action("_SidePanel", "destinations", new { ViewBag.Destination })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                @ViewBag.Tag.Name near @ViewBag.Destination.ShortName</h1>
        </div>
        <div class="panel-content">
            <div class="tags">
                <div class="tag">
                    <a href="@Url.Details(tag)">@tag.Name</a> <span>(used @tag.TagActivitiesToShow.Count() times)</span>
                </div>
            </div>
        </div>
    </div>
</div>
