@{
    ViewBag.Title = "Activities near " + ViewBag.Destination.ShortName;
    var tags = ((IEnumerable<Tag>)ViewBag.Tags);
}
@Html.Action("_SidePanel", "destinations", new { ViewBag.Destination })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                Activities near @ViewBag.Destination.ShortName</h1>
        </div>
        <div class="panel-content">
            <div class="tags">
                @foreach (Tag tag in tags)
                {
                    <div class="tag">
                        <a href="@Url.Details(tag)">@tag.Name</a> <span>(Used @tag.TagActivitiesToShow.Count() times)</span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
