@{
    Destination destination = ViewBag.Destination;
    City city = destination as City;
    Region region = destination as Region;
    Country country = destination as Country;
    ViewBag.Title = destination.FullName;
}
@section Scripts {
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {

            var myOptions = { mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("destination-details-map-container"), myOptions);
            var geocoder = new google.maps.Geocoder();

            geocoder.geocode({ 'address': '@destination.FullName' }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.fitBounds(results[0].geometry.viewport);
                    map.setZoom(map.getZoom() + 2);
                }
            });
        });
    </script>
}
@Html.Action("_SidePanel", "destinations", new { ViewBag.Destination })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>@destination.FullName</h1>
        </div>
        <div class="panel-content">
            <div id="destination-details-map-container">
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-header">
            <h2>
                Trips to @destination.ShortName
            </h2>
            <form id="trip-search-form" action="#">
            <div class="trip-search-form-section">
                <div class="distance-slider">
                </div>
                <div class="label">
                    within 100 miles
                </div>
            </div>
            <div class="trip-search-form-section">
                <div class="trip-length-slider">
                </div>
                <div class="label">
                    2 - 10 days
                </div>
            </div>
            </form>
        </div>
        <div class="panel-content">
            <div id="destination-details-related-trips">
                @Html.Action("_rows", "trips", new { trips = ViewBag.Trips })
            </div>
        </div>
    </div>
</div>
