@{
    ViewBag.Title = "Hotels near " + ViewBag.Destination.ShortName;
}
@Html.Action("_SidePanel", "destinations", new { ViewBag.Destination })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                Hotels near @ViewBag.Destination.ShortName</h1>
        </div>
        <div class="panel-header">
            @HotelSearchForm(ViewBag.HotelSearchForm)
        </div>
        <div class="panel-content">
            @Html.Action("Search", "hotels", new { form = ViewBag.HotelSearchForm })
        </div>
    </div>
</div>
@helper HotelSearchForm(HotelSearchForm form)
    {
    <form id="search-form" action="#">
    <input type="hidden" name="latitude" value="@form.Latitude" />
    <input type="hidden" name="longitude" value="@form.Longitude" />
    <div class="search-form-section">
        <div class="distance-slider">
        </div>
        <div class="label">
            within @form.RadiusInMiles miles
        </div>
        <input type="hidden" name="radiusinmiles" value="@form.RadiusInMiles" />
    </div>
    <div class="search-form-section">
        <input type="text" name="search" value="@form.Search" />
        <div class="label">
            name
        </div>
    </div>
    <input type="submit" value="Search" />
    </form>
}