@{
    Website website = (Website)ViewBag.ItineraryItem.Website;
}
<form action="@Url.EditItineraryItem((ItineraryItem)ViewBag.ItineraryItem)" method="post">
<input type="hidden" name="id" value="@ViewBag.ItineraryItem.Id" />
<h2>@ViewBag.ItineraryItem.Name</h2>
<img src="@Url.WebsiteThumb(website, Triptitude.Biz.Models.Website.ThumbSize.Small)" alt="" />
<p>
    <label for="beginday">
        Begin Day</label>
    <input type="text" name="beginday" id="beginday" value="@ViewBag.Settings.BeginDay" />
</p>
<p>
    <label for="endday">
        End Day</label>
    <input type="text" name="endday" id="endday" value="@ViewBag.Settings.EndDay" />
</p>
</form>
