@{
    WebsiteForm form = (WebsiteForm)ViewBag.Form;
}
<form action="@ViewBag.Action" method="post">
<input type="hidden" name="tripid" value="@form.TripId" />
<input type="hidden" name="itineraryitemid" value="@form.ItineraryItemId" />
<p>
    <label for="url">
        Website URL</label>
    <input type="text" name="url" id="url" value="@form.Url" placeholder="Paste URL here" />
</p>
<p>
    <label for="beginday">
        Day</label>
    <input type="text" class="day-input" name="beginday" id="beginday" value="@form.BeginDay" />
    thru
    <input type="text" class="day-input" name="endday" id="endday" value="@form.EndDay" />
</p>
</form>
