@{
    PackingItemForm form = (PackingItemForm)ViewBag.Form;
    Trip trip = (Trip)ViewBag.Trip;
    PackingListItem packingListItem = (PackingListItem)ViewBag.PackingListItem;
}
<div id="packing-item-dialog">
    <div class="title">
        What to Pack</div>
    <div class="subtitle">
        <a href="@Url.PackingListIndex()">Search Items</a>
    </div>
    <form action="@ViewBag.Action" method="post">
    @Html.Hidden("tripid", form.TripId)
    @Html.Hidden("packingitemid", form.PackingItemId)
    <fieldset class="sentence">
        <p>
            I need to bring <span>
                @Html.TextBox("name", form.Name, new { @class = "focus required item-autocomplete", placeholder = "item (required)" })
            </span>for <span>
                @Html.TextBox("tagstring", @form.TagString, new { @class = "tag-autocomplete", placeholder = "activity (optional)" })
            </span>at <span class="place-map-container">
                <img src="" alt="" class="place-map" id="place-map" />
            </span>
            <input type="text" name="place" class="place-autocomplete" data-goog-reference-field="googreference" data-goog-id-field="googid" data-goog-name-field="googname" data-map-id="place-map"  id="map-search-input" value="@form.GoogName" placeholder="place (optional)" />
            <input type="hidden" name="googreference" value="@form.GoogReference" />
            <input type="hidden" name="googid" value="@form.GoogId" />
            <input type="hidden" name="googname" value="@form.GoogName" />
        </p>
    </fieldset>
    <fieldset class="inline">
        <p>
            <label for="note">
                Note</label>
            @Html.TextBox("note", form.Note)
        </p>
        <p>
            <label for="visibility_id">
                Visibility</label>
            @Html.VisibilityDropDownList(form.Visibility_Id)
        </p>
    </fieldset>
    <p class="buttons">
        <input type="submit" value="Save" />
        <input type="button" value="Cancel" class="cancel" />
        @if (ViewBag.PackingListItem != null)
        {
            <input type="button" value="Delete" class="delete confirm-delete" data-url="@Url.Delete(packingListItem)" />
        }
    </p>
    </form>
</div>
