@{
    ViewBag.Title = "Website Details";
}
<h1>@ViewBag.Website.Title</h1>
<img src="@Url.WebsiteThumb((Website)ViewBag.Website, Website.ThumbSize.Large)" alt="" />
<a href="@ViewBag.Website.URL">@ViewBag.Website.URL</a>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>
    Related Trips</h2>
@foreach (Trip trip in ViewBag.Website.Trips)
{
    <div>
        <a href="@Url.PublicDetails(trip)">@trip.Name</a>
    </div>
}