<div id="topbar-container">
    <div id="topbar">
        <a id="logo" href="/">Triptitude.com</a>
        <div id="user-status">
            @if (Request.IsAuthenticated)
            {
                @ViewBag.User.Email
                @Html.RouteLink("Logout", "Logout");
            }
            else
            {
                @Html.RouteLink("Login", "Login");
            }
        </div>
    </div>
    <div id="trip-bar">
        <form id="create-trip-form" action="@Url.CreateTrip()" method="post">
        <input type="text" name="name" />
        <input type="submit" value="Create Trip" />
        </form>
        @if (ViewBag.User != null && ViewBag.User.DefaultTrip != null)
        {
            <form action="@Url.SetDefaultTrip()" method="post">
            @Html.SelectTripDropDownList((ICollection<Trip>)ViewBag.User.Trips, (Trip)ViewBag.User.DefaultTrip)
            <input type="submit" value="Plan" />
            </form>
            <div id="trip-nav-bar">
                <a href="@Url.TripDetails((Trip)ViewBag.User.DefaultTrip)">Itinerary</a> <a href="@Url.TripSettings((Trip)ViewBag.User.DefaultTrip)">
                    Settings</a>
            </div>
        }
    </div>
</div>
