@{
    User currentUser = (User)ViewBag.CurrentUser;
}
<div id="header-container">
    <div id="header">
        <a id="logo" href="/">Triptitude.com</a>
        <div id="search">
            <form action="@Url.PlaceSearch()" method="post">
            <input type="text" name="s" class="place-autocomplete" data-goog-reference-field="googreference" data-goog-id-field="googid" data-auto-submit="true" placeholder="Where are you going?" accesskey="s" />
            <input type="hidden" name="googreference" />
            <input type="hidden" name="googid" />
            <input type="submit" value="Go >" />
            </form>
        </div>
        <div id="user-status">
            @if (Request.IsAuthenticated)
            {
                <div id="user-status-header">
                    Welcome, <a href="@Url.MyTrips()">@currentUser.Email</a>
                </div>
                <div id="user-status-menu">
                    <a href="@Url.CreateTrip()" accesskey="c">create a trip</a> <a href="@Url.MyTrips()" accesskey="m">my trips</a>
                    @Html.RouteLink("sign out", "logout")
                </div>
            }
            else if (currentUser.Trips != null && currentUser.Trips.Any())
            {
                <div id="user-status-header">
                    Welcome, <a href="@Url.MyTrips()">anonymous user</a>
                </div>
                <div id="user-status-menu">
                    <a href="@Url.CreateTrip()" accesskey="c">create a trip</a> <a href="@Url.MyTrips()">my trips</a>
                    @Html.RouteLink("log in", "login", null, new { id = "login-link" })
                </div>
            }
            else
            {
                <div id="user-status-header">
                    @Html.RouteLink("Login", "Login", null, new { id = "login-link" })
                </div>
                <div id="start-here-link">
                    Hi, are you new? <a href="/">Start here</a>
                </div>
            }
        </div>
    </div>
</div>
<div id="scrollanchor">
</div>
@if (currentUser.DefaultTrip != null)
{     
    <div id="trip-bar-container">
        <div id="trip-bar">
            <div id="trip-bar-menu">
                <ul>
                    <li><a href="@Url.Details(currentUser.DefaultTrip)" accesskey="i">Itinerary</a></li>
                    <li><span class="add-plans-link link">+ Add Plans</span>
                        <ul>
                            <li><a class="add-activity link" data-activity-type="transportation" accesskey="t">Transportation<span>Like <strong>Fly</strong> from <strong>Boston</strong> to <strong>San Francisco</strong></span></a></li>
                            <li><a class="add-activity link" data-activity-type="place" accesskey="a">Place / Activity<span>Like <strong>Whale Watching </strong>in <strong>Boston</strong></span></a></li>
                            <li><a class="add-note link" accesskey="n">Note<span>Like <strong>Emily says this place has the best Pizza!</strong></span></a></li>
                            <li><a class="add-packing-item link" accesskey="p">Packing<span>Like pack your <strong>sunglasses</strong> and <strong>phone charger</strong></span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="trip-bar-pre-title">
                currently planning...</div>
            <div id="trip-bar-title">
                @currentUser.DefaultTrip.Name
            </div>
            @if (string.IsNullOrWhiteSpace(currentUser.Email) && currentUser.Trips != null && currentUser.Trips.Any())
            {
                <div id="email-warning">
                    You'll lose your trip unless you <a href="@Url.MySettings()">sign up</a> or @Html.RouteLink("log in", "login", null, new { id = "login-link" })!
                </div>
            }
            <div id="super-dialog-container">
                <div id="super-dialog">
                    <div class="arrow">
                    </div>
                    <div class="content">
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (ViewBag.HideTripBar != true)
{
    <div id="trip-bar-container">
        <div id="trip-bar">
            <div id="trip-bar-title">
                Like to travel? Plan your next trip now:
            </div>
            <form action="@Url.CreateTrip()" method="post" id="create-trip-form">
            @Html.AntiForgeryToken()
            <p>
                <input type="text" name="toname" data-value-field-name="toid" class="place-autocomplete" placeholder="Destination" />
                <input type="hidden" id="toid" name="toid" />
            </p>
            <p>
                <input type="submit" value="Start Planning >" />
            </p>
            </form>
            <div id="super-dialog-container">
                <div id="super-dialog">
                    <div class="arrow">
                    </div>
                    <div class="content">
                    </div>
                </div>
            </div>
        </div>
    </div>
}