<div id="header-container">
    <div id="header">
        <a id="logo" href="/">Triptitude.com</a>
        <div id="search">
            <form action="@Url.HotelsHome()">
            <input type="text" name="s" placeholder="Search everything..." />
            <input type="submit" value="Go >" />
            </form>
            <div id="search-results">
            </div>
        </div>
        <div id="user-status">
            @if (Request.IsAuthenticated)
            {
                <div id="user-status-header">
                    Welcome back, <a href="@Url.MyAccount()">@ViewBag.User.Email</a>
                </div>
                <div id="user-status-menu">
                    <a href="@Url.CreateTrip()">create a trip</a> <a href="@Url.MyTrips()">my trips</a>
                    @Html.RouteLink("sign out", "logout")
                </div>
            }
            else
            {
                <div id="user-status-header">
                    @Html.RouteLink("Login", "Login", null, new { id = "login-link" })
                </div>
                <div id="start-here">
                    Hi are you new? @Html.RouteLink("Start here", "signup")
                </div>
            }
        </div>
    </div>
</div>
<div id="header-height-fill">
</div>
