<div id="topbar-container">
    <div id="topbar">
        <a id="logo" href="/">Triptitude.com</a>
        <div id="user-status">
            @if (Request.IsAuthenticated)
            {
                @ViewBag.User.Email
                @Html.RouteLink("Logout", "Logout");
            }
            else
            {
                @Html.RouteLink("Login", "Login");
            }
        </div>
        <div id="main-menu">
            <a href="@Url.CreateTrip()">Create Trip</a> <a href="@Url.TripsHome()">Trips</a>
            <a href="@Url.HotelsHome()">Hotels</a>
        </div>
    </div>
    <div id="trip-bar">
        @if (ViewBag.User != null && ViewBag.User.DefaultTrip != null)
        {
            <form action="@Url.SetDefaultTrip()" method="post">
            @Html.SelectTripDropDownList((ICollection<Trip>)ViewBag.User.Trips, (Trip)ViewBag.User.DefaultTrip)
            <input type="submit" value="Plan" />
            </form>
        
            <div id="trip-nav-bar">
                <div>
                    Plan: <a href="@Url.PlanItinerary((Trip)ViewBag.User.DefaultTrip)">Itinerary</a>
                    <a href="@Url.Settings((Trip)ViewBag.User.DefaultTrip)">Settings</a>
                </div>
                <div>
                    Book: <a href="#">Info</a> <a href="#">Confirmations</a>
                </div>
                <div>
                    Prepare: <a href="#">Print</a> <a href="#">Share</a>
                </div>
                <div>
                    Log: <a href="#">Journal Entries</a> <a href="#">Reviews</a> <a href="#">Photos</a>
                </div>
            </div>
        }
    </div>
</div>
