<div id="header-container">
    <div id="header">
        <a id="logo" href="/">Triptitude.com</a>
        <div id="search">
            <form action="">
            <input type="text" name="s" placeholder="Search everything..." />
            <input type="submit" value="Go >" />
            </form>
            <div id="search-results">
            </div>
        </div>
        <div id="user-status">
            @if (Request.IsAuthenticated)
            {
                <div id="user-status-header">
                    Welcome back, <a href="@Url.MyAccount()">@ViewBag.User.Email</a>
                </div>
                <div id="user-status-menu">
                    <a href="@Url.CreateTrip()">create a trip</a> <a href="@Url.MyTrips()">my trips</a>
                    @Html.RouteLink("sign out", "logout")
                </div>
            }
            else
            {
                <div id="user-status-header">
                    @Html.RouteLink("Login", "Login", null, new { id = "login-link" })
                </div>
                <div id="start-here">
                    Hi are you new? @Html.RouteLink("Start here", "signup")
                </div>
            }
        </div>
    </div>
</div>
<div id="trip-bar-container">
    <div id="trip-bar">
        @if (ViewBag.User != null && ViewBag.User.DefaultTrip != null)
        {
            <div id="trip-bar-title">
                @ViewBag.User.DefaultTrip.Name
            </div>        
            <div id="trip-nav-bar">
                <a href="@Url.PlanItinerary((Trip)ViewBag.User.DefaultTrip)">Itinerary</a> <a href="@Url.Settings((Trip)ViewBag.User.DefaultTrip)">
                    Settings</a> <a href="#">Print</a> <a href="#">Share</a>
            </div>
        }
        else
        {
            <div id="trip-bar-title">
                Like to travel? Plan your next trip.
            </div>
            <form action="">
            <input type="text" name="email" placeholder="Enter your email address..." />
            <input type="text" name="tripname" placeholder="Name your trip..." />
            <input type="submit" value="Start Planning >" />
            </form>
        }
    </div>
</div>
