@using System.Configuration
@{
    User currentUser = (User)ViewBag.CurrentUser;
    IEnumerable<Trip> currentUserTrips = currentUser.Trips(currentUser);
}
<div id="header-container">
    <div id="header">
        <a id="logo" href="/">Triptitude</a> @*<a onclick="alert('Drag me to the bookarks bar'); return false;" href="javascript:void((function(){var e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','@ConfigurationManager.AppSettings["RootUrl"]Scripts/tripmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)})());" title="Add to Trip">Add to Trip</a> *@ @*<div id="search">
            <form action="@Url.PlaceSearch()" method="post">
            <input type="text" name="s" class="place-autocomplete" data-goog-reference-field="googreference" data-goog-id-field="googid" data-auto-submit="true" placeholder="Where 
            going?" accesskey="s" />
            <input type="hidden" name="googreference" />
            <input type="hidden" name="googid" />
            <input type="submit" value="Go >" />
            </form>
        </div>*@
        <div id="user-status">
            @if (Request.IsAuthenticated)
            {
                <p>
                    Welcome, <a href="@Url.MyTrips()">@currentUser.FullName</a>
                </p>
                <p>
                    <a href="/trips/create" accesskey="c" class="create-trip">create a trip</a> <a href="@Url.MyTrips()" accesskey="m">my trips</a> <a href="/logout">sign out</a>
                </p>
            }
            else if (!currentUserTrips.IsNullOrEmpty())
            {
                <p>
                    Welcome, <a href="@Url.MyTrips()">@currentUser.FullName</a>
                </p>
                <p>
                    <a class="sign-up">sign up</a> <a href="/trips/create" accesskey="c">create a trip</a> <a href="@Url.MyTrips()">my trips</a> <a class="login">log in</a>
                </p>
            }
            else
            {
                <p class="single">
                    <a class="sign-up">sign up</a> <a class="login">log in</a>
                </p>
            }
        </div>
    </div>
</div>
<div id="scrollanchor">
</div>
@if (currentUser.DefaultTrip != null)
{     
    <div id="trip-bar-container">
        <div id="trip-bar" data-trip-id="@currentUser.DefaultTrip.Id" >
            <ul id="trip-bar-menu">
                <li><span class="link">Go To...</span>
                    <ul>
                        <li><a href="@Url.Details(currentUser.DefaultTrip)" accesskey="w">Dashboard<span><strong>Your trip overview</strong></span></a></li>
                        <li><a href="@Url.Who(currentUser.DefaultTrip)" accesskey="w">Who's Going<span><strong>Add your fellow travelers</strong></span></a></li>
                        <li><a href="@Url.Itinerary(currentUser.DefaultTrip)" accesskey="i">Itinerary<span><strong>Review your itinerary</strong></span></a></li>
                        <li><a href="@Url.PackingList(currentUser.DefaultTrip)#packinglist">Packing List<span><strong>Update your packing list</strong></span></a></li>
                        <li><a href="@Url.Settings(currentUser.DefaultTrip)">Settings<span><strong>Change title and privacy</strong></span></a></li>
                    </ul>
                </li>
            </ul>
            <div id="trip-bar-pre-title">
                currently planning...</div>
            <a id="trip-bar-title" href="@Url.Details(currentUser.DefaultTrip)">
                @currentUser.DefaultTrip.Name</a>
            @if (string.IsNullOrWhiteSpace(currentUser.Email) && !currentUserTrips.IsNullOrEmpty())
            {
                <div id="email-warning">
                    You might lose your trip unless you <a class="sign-up" href="@Url.MySettings()">sign up</a> or <a class="login">log in</a>!
                </div>
            }
        </div>
    </div>
}
else if (ViewBag.HideTripBar != true)
{
    <div id="trip-bar-container">
        <div id="trip-bar">
            <div id="trip-bar-title">
                Like to travel? Plan your next trip:
            </div>
            <form action="@Url.CreateTrip()" method="post" id="create-trip-form">
            @Html.AntiForgeryToken()
            <p>
                <input type="text" name="Name" id="name" placeholder="name your trip..." />
                @*<input type="text" name="toname" id="toname" data-goog-reference-field="togoogreference" data-goog-id-field="togoogid" data-auto-submit="true" class="place-autocomplete" placeholder="Your Destination..." />
                    <input type="hidden" name="togoogreference" />
                    <input type="hidden" name="togoogid" />*@
            </p>
            <p>
                <input type="submit" value="Start Planning >" />
            </p>
            </form>
            @*<div id="super-dialog-container">
                <div id="super-dialog">
                </div>
            </div>*@
        </div>
    </div>
}