@using System.Configuration
@{
    User currentUser = (User)ViewBag.CurrentUser;
}
<div id="header-container">
    <div id="header">
        <a id="logo" href="/">Triptitude.com</a>
        <a onclick="alert('Drag me to the bookarks bar'); return false;" href="javascript:void((function(){var e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','@ConfigurationManager.AppSettings["RootUrl"]Scripts/tripmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)})());" title="Add to Trip">Add to Trip</a>
        <div id="search">
            <form action="@Url.PlaceSearch()" method="post">
            <input type="text" name="s" class="place-autocomplete" data-goog-reference-field="googreference" data-goog-id-field="googid" data-auto-submit="true" placeholder="Where are you going?" accesskey="s" />
            <input type="hidden" name="googreference" />
            <input type="hidden" name="googid" />
            <input type="submit" value="Go >" />
            </form>
        </div>
        <div id="user-status">
            @if (Request.IsAuthenticated)
            {
                <div id="user-status-header">
                    Welcome, <a href="@Url.MyTrips()">@currentUser.FullName</a>
                </div>
                <div id="user-status-menu">
                    <a href="/trips/create" accesskey="c" class="create-trip">create a trip</a> <a href="@Url.MyTrips()" accesskey="m">my trips</a>
                    <a href="/logout">sign out</a>
                </div>
            }
            else if (currentUser.Trips != null && currentUser.Trips.Any())
            {
                <div id="user-status-header">
                    Welcome, <a href="@Url.MyTrips()">anonymous user</a>
                </div>
                <div id="user-status-menu">
                    <a href="@Url.CreateTrip()" accesskey="c">create a trip</a> <a href="@Url.MyTrips()">my trips</a>
                    @Html.RouteLink("log in", "login", null, new { id = "login-link" })
                </div>
            }
            else
            {
                <div id="user-status-header">
                    @Html.RouteLink("Login", "Login", null, new { id = "login-link" })
                </div>
                <div id="start-here-link">
                    Hi, are you new? <a href="/">Start here</a>
                </div>
            }
        </div>
    </div>
</div>
<div id="scrollanchor">
</div>
@if (currentUser.DefaultTrip != null)
{     
    <div id="trip-bar-container">
        <div id="trip-bar" data-trip-id="@currentUser.DefaultTrip.Id" >
            <ul id="trip-bar-menu">
                <li><span class="link">Details</span>
                    <ul>
                        <li><a href="@Url.Details(currentUser.DefaultTrip)#itinerary" accesskey="i">Itinerary<span><strong>Review your itinerary</strong></span></a></li>
                        <li><a href="@Url.Details(currentUser.DefaultTrip)#map">Map<span><strong>Map your destinations</strong></span></a></li>
                        <li><a href="@Url.Details(currentUser.DefaultTrip)#packinglist">Packing List<span><strong>Update your packing list</strong></span></a></li>
                        <li><a href="@Url.Settings(currentUser.DefaultTrip)">Settings<span><strong>Set a title and start date</strong></span></a></li>
                    </ul>
                </li>
                <li><span class="add-plans-link link">+ Add Plans</span>
                    <ul>
                        <li><a class="super-dialog-link link" href="/activities/create?type=transportation" accesskey="t">Transportation<span>Like <strong>Fly</strong> from <strong>Boston</strong> to <strong>San Francisco</strong></span></a></li>
                        <li><a class="super-dialog-link link" href="/activities/create?type=place" accesskey="a">Place / Activity<span>Like <strong>Whale Watching </strong>in <strong>Boston</strong></span></a></li>
                        <li><a class="super-dialog-link link" href="/notes/create" accesskey="n">Note<span>Like <strong>Emily says this place has the best Pizza!</strong></span></a></li>
                        <li><a class="super-dialog-link link" href="/packing/create" accesskey="p">Packing List<span>Like pack your <strong>sunglasses</strong> and <strong>phone charger</strong></span></a></li>
                    </ul>
                </li>
            </ul>
            <div id="trip-bar-pre-title">
                currently planning...</div>
            <a id="trip-bar-title" href="@Url.Details(currentUser.DefaultTrip)">
                @currentUser.DefaultTrip.Name</a>
            @if (string.IsNullOrWhiteSpace(currentUser.Email) && currentUser.Trips != null && currentUser.Trips.Any())
            {
                <div id="email-warning">
                    You'll lose your trip unless you <a href="@Url.MySettings()">sign up</a> or @Html.RouteLink("log in", "login", null, new { id = "login-link" })!
                </div>
            }
            @*<div id="super-dialog-container">
                <div id="super-dialog">
                </div>
            </div>*@
        </div>
    </div>
}
else if (ViewBag.HideTripBar != true)
{
    <div id="trip-bar-container">
        <div id="trip-bar">
            <div id="trip-bar-title">
                Like to travel? Plan your next trip:
            </div>
            <form action="@Url.CreateTrip()" method="post" id="create-trip-form">
            @Html.AntiForgeryToken()
            <p>
                <input type="text" name="toname" id="toname" data-goog-reference-field="togoogreference" data-goog-id-field="togoogid" data-auto-submit="true" class="place-autocomplete" placeholder="Your Destination..." />
                <input type="hidden" name="togoogreference" />
                <input type="hidden" name="togoogid" />
            </p>
            <p>
                <input type="submit" value="Start Planning >" />
            </p>
            </form>
            @*<div id="super-dialog-container">
                <div id="super-dialog">
                </div>
            </div>*@
        </div>
    </div>
}