@{
    ViewBag.Title = "Plan your trips & vacations";
    ViewBag.Description = "Easily create a custom travel itinerary. We'll suggest hotels and activities along the way.";
    IEnumerable<Trip> trips = (IEnumerable<Trip>)ViewBag.Trips;
}
<div id="landing-page-panel-container">
    <div id="landing-page-panel">
        <h1>
            Planning a trip is hard. We make it easier.
        </h1>
        <form action="@Url.CreateTrip()" method="post" id="create-trip-form">
        @Html.AntiForgeryToken()
        <h3>
            Get Started:</h3>
        <p>
            @Html.ValidationMessage("name")
            <input type="text" name="name" id="name" tabindex="1" class="focus" placeholder="Name your trip..." />
        </p>
        <p>
            <label for="visibility">
                Visibility</label>
            @{
                var form = new NewCreateTripForm { Visibility = Trip.TripVisibility.Public };
            }
            @Html.DropDownList("visibility", form.Visibility.ToSelectList())
        </p>
        @*<p>
            <input type="text" name="toname" data-goog-reference-field="togoogreference" data-goog-id-field="togoogid" data-auto-submit="true" class="place-autocomplete" placeholder="Destination" />
            <input type="hidden" name="togoogreference" />
            <input type="hidden" name="togoogid" />
        </p>*@
        <p>
            <input type="submit" value="Start Planning >" />
        </p>
        </form>
        <p>
            You need a vacation. You deserve a vacation. You've <em>earned</em> a vacation, but planning the trip of your dreams isn't easy. Between flights and hotels, packing lists and activities, how do you keep everything straight? Triptitude helps you keep it all organized, so when it's finally time to go, you can relax and enjoy the ride.
        </p>
        <h2>
            Organize your travel plans from start to finish</h2>
        <ul>
            <li><a href="/trips">Search trips</a> others have planned and get inspired.</li>
            <li><a href="@Url.CreateTrip()">Create an itinerary</a> or customize one.</li>
            <li>Create a <a href="@Url.PackingListIndex()">packing list</a> so you don't forget anything.</li>
            @*<li><strong>Print your itinerary</strong>, maps, packing list, and notes for stress-free travel.</li>*@
        </ul>
        @if (trips != null && trips.Any())
        {
            <div id="trips">
                <div class="panel-title">
                    <h2>
                        Recent Trips</h2>
                    <a href="/trips">All Trips</a>
                </div>
                @{
            TripSearchForm form2 = new TripSearchForm();
                }
                @Helpers.TripSearchForm(form2)
                @Html.Action("SearchResults", "Trips", new { form = form2 })
            </div>
        }
    </div>
</div>
