@{
    TagActivityForm form = (TagActivityForm)ViewBag.Form;
}
<form action="@ViewBag.Action" method="post">
<input type="hidden" name="activityid" value="@form.ActivityId" />
<input type="hidden" name="tripid" value="@form.TripId" />
<p>
    <label for="tagname">
        Activity Name</label>
    <input type="text" name="tagname" value="@form.TagName" />
</p>
<p>
    <label for="cityname">
        Destination</label>
    <input type="text" name="cityname" data-hidden-field-name="cityid" class="destination-autocomplete" value="@form.CityName" />
    <input type="hidden" id="cityid" name="cityid" value="@form.CityId" />
</p>
<p>
    <label for="beginDay">
        Day
    </label>
    <input type="text" class="day-input" id="beginDay" name="beginDay" value="@form.BeginDay" />
    thru
    <input type="text" class="day-input" id="endDay" name="endDay" value="@form.EndDay" />
</p>
</form>
