@{
    PlaceActivityForm form = (PlaceActivityForm)ViewBag.Form;
    Place place = (Place)ViewBag.Place;
}
<div class="title">
    Place / Activity</div>
<form action="@ViewBag.Action" method="post">
<input type="hidden" name="tripid" value="@form.TripId" />
<input type="hidden" name="activityid" value="@form.ActivityId" />
<input type="hidden" name="factualid" value="@form.FactualId" />
<input type="hidden" name="placeid" value="@form.PlaceId" />
@Html.Hidden("latitude", @form.Latitude)
@Html.Hidden("longitude", @form.Longitude)
<div class="place-map-container">
    <div class="place-map">
        map
    </div>
    <div class="place-map-caption">
        Click map to enter location</div>
</div>
<fieldset>
    <span>What</span>
    <p>
        <label for="tag">
            Tag</label>
        @Html.TextBox("tagname", @form.TagName, new { @class = "focus" })
    </p>
</fieldset>
<fieldset>
    <span>Where</span>
    @if (string.IsNullOrWhiteSpace(place.FactualId))
    {
        <p>
            <label for="name">
                Name</label>
            @Html.TextBox("name", @form.Name)
        </p>
        <p>
            <label for="address">
                Address</label>
            @Html.TextBox("address", @form.Address)
        </p>
        <p>
            <label for="telephone">
                Phone</label>
            @Html.TextBox("telephone", @form.Telephone)
        </p>
        <p>
            <label for="website">
                Website</label>
            @Html.TextBox("website", @form.Website)
        </p>
    }
    else
    {
        <p>
            <label>
                Name</label>
            @place.Name
        </p>
        <p>
            <label>
                Address</label>
            @place.NiceAddress
        </p>
        <p>
            <label>
                Phone</label>
            @place.Telephone
        </p>
    }
</fieldset>
<fieldset>
    <span>When</span>
    <p>
        <label for="beginday">
            Day</label>
        <input type="text" class="day-input" name="beginday" id="beginday" value="@form.BeginDay" />
        thru
        <input type="text" class="day-input" name="endday" id="endday" value="@form.EndDay" />
    </p>
</fieldset>
<p class="buttons">
    @if (form.ActivityId.HasValue)
    {
        <input type="button" value="Delete" class="delete confirm-delete" data-url="@Url.Delete(form.ActivityId.Value)" />
    }
    <input type="button" value="Cancel" class="cancel" />
    <input type="submit" value="Save" />
</p>
</form>
