@{
    PlaceActivityForm form = (PlaceActivityForm)ViewBag.Form;
    Place place = (Place)ViewBag.Place;
}
<form action="@ViewBag.Action" method="post">
<input type="hidden" name="tripid" value="@form.TripId" />
<input type="hidden" name="activityid" value="@form.ActivityId" />
<input type="hidden" name="factualid" value="@form.FactualId" />
<input type="hidden" name="placeid" value="@form.PlaceId" />
@Html.Hidden("latitude", @form.Latitude)
@Html.Hidden("longitude", @form.Longitude)
<div class="place-map-container">
    <div class="place-map">
        map
    </div>
    <div class="place-map-caption">
        Click map to enter location</div>
</div>
@if (string.IsNullOrWhiteSpace(place.FactualId))
{
    <p>
        <label for="name">
            Name</label>
        @Html.TextBox("name", @form.Name)
    </p>
    <p>
        <label for="address">
            Address</label>
        @Html.TextBox("address", @form.Address)
    </p>
    <p>
        <label for="telephone">
            Phone</label>
        @Html.TextBox("telephone", @form.Telephone)
    </p>
    <p>
        <label for="website">
            Website</label>
        @Html.TextBox("website", @form.Website)
    </p>
}
else
{
    <p>
        <label>
            Name</label>
        @place.Name
    </p>
    <p>
        <label>
            Address</label>
        @place.NiceAddress
    </p>
    <p>
        <label>
            Phone</label>
        @place.Telephone
    </p>
}
<p>
    <label for="beginday">
        Day</label>
    <input type="text" class="day-input" name="beginday" id="beginday" value="@form.BeginDay" />
    thru
    <input type="text" class="day-input" name="endday" id="endday" value="@form.EndDay" />
</p>
</form>
