@{
    Triptitude.Biz.Forms.TransportationActivityForm form = (Triptitude.Biz.Forms.TransportationActivityForm)ViewBag.Form;
    IEnumerable<TransportationType> transportationTypes = (IEnumerable<TransportationType>)ViewBag.TransportationTypes;
}
<div id="transportation-dialog">
    <div class="title">
        Transportation</div>
    <form action="@ViewBag.Action" method="post">
    <input type="hidden" name="tripid" value="@form.TripId" />
    <input type="hidden" name="activityid" value="@form.ActivityId" />
    @Helpers.ActivityFormTabs(Url, form)
    <div class="dialog-page @(form.SelectedTab == Triptitude.Biz.Forms.ActivityForm.Tabs.Details ? "selected-page" : string.Empty)" data-page="details">
        <fieldset>
            <span>How</span>
            <p>
                <label for="transportationtypeid">
                    Type</label>
                @Html.SelectTransportationTypeDropDownList(transportationTypes, form.TransportationTypeId)
            </p>
        </fieldset>
        <fieldset>
            <span>Where</span>
            <p>
                <span class="place-map-container">
                    <img src="" alt="" class="place-map" id="from-map" />
                </span>
                <label for="fromname">
                    From</label>
                <input type="text" name="fromname" id="fromname" data-goog-reference-field="fromgoogreference" data-goog-id-field="fromgoogid" data-goog-name-field="fromgoogname" data-map-id="from-map" class="place-autocomplete focus" value="@form.FromName" />
                <input type="hidden" name="fromgoogreference" value="@form.FromGoogReference" />
                <input type="hidden" name="fromgoogid" value="@form.FromGoogId" />
                <input type="hidden" name="fromgoogname" value="@form.FromName" />
            </p>
            <p>
                <span class="place-map-container">
                    <img src="" alt="" class="place-map" id="to-map" />
                </span>
                <label for="toname">
                    To</label>
                <input type="text" name="toname" id="toname" data-goog-reference-field="togoogreference" data-goog-id-field="togoogid" data-goog-name-field="togoogname" data-map-id="to-map" class="place-autocomplete" value="@form.ToName" />
                <input type="hidden" name="togoogreference" value="@form.ToGoogReference" />
                <input type="hidden" name="togoogid" value="@form.ToGoogId" />
                <input type="hidden" name="togoogname" value="@form.ToName" />
            </p>
        </fieldset>
        <fieldset>
            <span>When</span>
            <p>
                <label for="beginDay">
                    Day
                </label>
                <input type="text" class="day-input" id="beginDay" name="beginDay" value="@form.BeginDay" />
                thru
                <input type="text" class="day-input" id="endDay" name="endDay" value="@form.EndDay" />
            </p>
        </fieldset>
    </div>
    <p class="buttons">
        <input type="submit" value="Save" />
        <input type="button" value="Cancel" class="cancel" />
        @if (form.ActivityId.HasValue)
        {
            <input type="button" value="Delete" class="delete confirm-delete" data-url="@Url.Delete(form.ActivityId.Value)" />
        }
    </p>
    </form>
</div>
