@{
    WebsiteActivityForm form = (WebsiteActivityForm)ViewBag.Form;
}
<form action="@ViewBag.Action" method="post">
<input type="hidden" name="tripid" value="@form.TripId" />
<input type="hidden" name="activityid" value="@form.ActivityId" />
<p>
    <label for="url">
        Website URL</label>
    <input type="text" name="url" id="url" value="@form.Url" placeholder="Paste URL here" />
</p>
<p>
    <label for="beginday">
        Day</label>
    <input type="text" class="day-input" name="beginday" id="beginday" value="@form.BeginDay" />
    thru
    <input type="text" class="day-input" name="endday" id="endday" value="@form.EndDay" />
</p>
<p class="buttons">
    @if (form.ActivityId.HasValue)
    {
        <input type="button" value="Delete" class="delete confirm-delete" data-url="@Url.Delete(form.ActivityId.Value)" />
    }
    <input type="button" value="Cancel" class="cancel" />
    <input type="submit" value="Save" />
</p>
</form>
