@{
    Trip trip = (Trip)ViewBag.Trip;
    User currentUser = ViewBag.CurrentUser;
    //bool CurrentUserOwnsTrip = currentUser.OwnsTrips(trip);
    IEnumerable<Activity> activities = trip.ActivitiesOn(ViewBag.DayNumber);
    int? day = ViewBag.DayNumber;
}
<div class="day-header">
    <h3>
        @trip.NiceDay(ViewBag.DayNumber, ViewBag.CurrentUser)
    </h3>
</div>
@if (!activities.IsNullOrEmpty())
{
    foreach (Activity activity in activities.OrderBy(a => a.TimeForSort(day)))
    {
    <div class="activity" data-activity-id="@activity.Id">
        @if (!string.IsNullOrWhiteSpace(activity.Title))
        {
            <p>
                @activity.Title
            </p>
        }
        @if (activity is TransportationActivity)
        {
            var transportationActivity = activity as TransportationActivity;
            <p>
                @(transportationActivity.TransportationType != null ? transportationActivity.TransportationType.Name : "Transportation")
                @if (transportationActivity.FromPlace != null)
                {
                    <text>from <a href="@Url.Details(transportationActivity.FromPlace)">@transportationActivity.FromPlace.Name</a></text>
                }
                @if (transportationActivity.ToPlace != null)
                {
                    <text>to <a href="@Url.Details(transportationActivity.ToPlace)">@transportationActivity.ToPlace.Name</a></text>
                }
            </p>
        }
        else if (activity is PlaceActivity)
        {
            var placeActivity = activity as PlaceActivity;
            if (placeActivity.Place != null)
            {
            <p class="place @(string.IsNullOrWhiteSpace(placeActivity.Title) ? "no-title" : "with-title")">
                <a href="@Url.Details(placeActivity.Place)">@placeActivity.Place.Name</a>
            </p>
            }
        }
        <div class="when">
            @if (activity.BeginDay == activity.EndDay && activity.BeginTime.HasValue)
            {
                <text>@DateTime.Today.Add(activity.BeginTime.Value).ToShortTimeString()</text>
                if (activity.EndTime.HasValue && activity.EndTime.Value.CompareTo(activity.BeginTime.Value) != 0)
                {
                <text> - @DateTime.Today.Add(activity.EndTime.Value).ToShortTimeString()</text>
                <text> (@activity.Duration) </text>
                }
            }
            @if (activity.BeginDay != activity.EndDay)
            {
                if (activity.BeginDay == day && activity.BeginTime.HasValue)
                {
                <text>@DateTime.Today.Add(activity.BeginTime.Value).ToShortTimeString()</text>
                }
                if (day == activity.EndDay && activity.EndTime.HasValue)
                {
                <text>@DateTime.Today.Add(activity.EndTime.Value).ToShortTimeString() (end - @activity.Duration)</text>
                }
            }
        </div>
        @Helpers.TagList(Url, activity.Tags)
        @*       @if (CurrentUserOwnsTrip || true)
        {*@
        @Helpers.NoteList(Url, activity.Notes)
        @*}*@
    </div>
    }
}