<div class="trip-day">
    <h3>
        Day @ViewBag.DayNumber</h3>
    @foreach (ItineraryItem itineraryItem in ViewBag.DayItinerary)
    {
        <div class="trip-day-itinerary-item">
            <div data-itinerary-item-id="@itineraryItem.Id" class="create-note-link link">
                Add Note</div>
            @if (itineraryItem.Website != null)
            {
                <img src="@Url.WebsiteThumb(itineraryItem.Website, Website.ThumbSize.Small)" alt="" />
            }
            else if (itineraryItem.BaseItem.Photos.Any())
            {
                <img src="@itineraryItem.BaseItem.Photos.OrderByDescending(p => p.IsDefault).First().ThumbURL" alt="" />
            }
            <h4>
                <a href="@Url.Details(itineraryItem)">@itineraryItem.Name</a>
            </h4>
            <div class="trip-day-itinerary-item-time">
                @itineraryItem.DateTimeString
            </div>
            <a href="@Url.EditItineraryItem(itineraryItem)">Edit</a> <a href="@Url.SoftDeleteItineraryItem(itineraryItem)">
                Delete</a>
            @if (itineraryItem.ItineraryItemNotes != null)
            {
                <div class="itinerary-item-notes">
                    @foreach (ItineraryItemNote note in itineraryItem.ItineraryItemNotes)
                    {
                        <div class="itinerary-item-note">
                            <div class="edit-note-link link" data-note-id="@note.Id">
                                Edit</div>
                            <a class="link" href="@Url.Delete(note)">Delete</a>
                            @note.Text
                        </div>                        
                    }
                </div>
            }
        </div>
    }
</div>
