<div class="trip-day">
    <h3>
        Day @ViewBag.DayNumber</h3>
    @foreach (Activity activity in ViewBag.Activities)
    {
        if (activity is TransportationActivity)
        {
            var transportationActivity = activity as TransportationActivity;
        <div class="trip-day-itinerary-item transportation" data-id="@activity.Id" title="Click for details">
            <h4>
                @transportationActivity.TransportationType.Name
                from <a href="@Url.Details(transportationActivity.FromCity)">@transportationActivity.FromCity.ASCIIName</a> to <a href="@Url.Details(transportationActivity.ToCity)">@transportationActivity.ToCity.ASCIIName</a>
            </h4>
        </div>
        }
        else if (activity is HotelActivity)
        {
            var hotelActivity = activity as HotelActivity;
        <div class="trip-day-itinerary-item hotel" data-id="@activity.Id" title="Click for details">
            <h4>
                Check @(ViewBag.DayNumber == hotelActivity.BeginDay ? "in to" : "out of")
                <a href="@Url.Details(hotelActivity.Hotel)">@hotelActivity.Hotel.Name</a>
            </h4>
        </div>
        }
        else if (activity is WebsiteActivity)
        {
            var websiteActivity = activity as WebsiteActivity;
        <div class="trip-day-itinerary-item website" data-id="@activity.Id" title="Click to visit">
            <h4>
                <a rel="nofollow" target="_blank" href="@websiteActivity.URL">@websiteActivity.Title</a> (Website)
            </h4>
        </div>       
        }
        else if (activity is TagActivity)
        {
            var tagActivity = activity as TagActivity;
        <div class="trip-day-itinerary-item destination-tag" data-id="@activity.Id" title="Click for details">
            <h4>
                @tagActivity.Tag.Name in <a href="@Url.Details(tagActivity.City)">@tagActivity.City.ASCIIName</a>
            </h4>
        </div>
        }
    }
</div>
