<div class="trip-day">
    <h3>
        Day @ViewBag.DayNumber</h3>
    @foreach (Activity activity in ViewBag.Activities)
    {
        if (activity is TransportationActivity)
        {
            var transportationActivity = activity as TransportationActivity;
        <div class="activity" data-activity-id="@activity.Id" data-activity-type="transportation" title="Click for details">
            <div class="title">
                @transportationActivity.TransportationType.Name from <a href="@Url.Details(transportationActivity.FromCity)">@transportationActivity.FromCity.ASCIIName</a> to <a href="@Url.Details(transportationActivity.ToCity)">@transportationActivity.ToCity.ASCIIName</a>
            </div>
        </div>
        }
        else if (activity is HotelActivity)
        {
            var hotelActivity = activity as HotelActivity;
        <div class="activity" data-activity-id="@activity.Id" data-activity-type="hotel" title="Click for details">
            @if (ViewBag.DayNumber == hotelActivity.BeginDay)
            {
                <img src="@hotelActivity.Hotel.Photo.ThumbURL" alt="" />
            }
            <div class="title">
                @if (ViewBag.DayNumber == hotelActivity.BeginDay)
                {
                    <p>
                        Check in to <a href="@Url.Details(hotelActivity.Hotel)">@hotelActivity.Hotel.Name</a> for a @(hotelActivity.EndDay - hotelActivity.BeginDay)
                        night stay
                    </p>
                }
                else
                {
                    <p>
                        Check out of <a href="@Url.Details(hotelActivity.Hotel)">@hotelActivity.Hotel.Name</a>
                    </p>
                }
            </div>
        </div>
        }
        else if (activity is WebsiteActivity)
        {
            var websiteActivity = activity as WebsiteActivity;
        <div class="activity" data-activity-id="@activity.Id" data-activity-type="website" title="Click to visit">
            <div class="title">
                <a rel="nofollow" target="_blank" href="@websiteActivity.URL">@websiteActivity.Title</a> (link)
            </div>
        </div>
        }
        else if (activity is TagActivity)
        {
            var tagActivity = activity as TagActivity;
        <div class="activity" data-activity-id="@activity.Id" data-activity-type="activity" title="Click for details">
            <div class="title">
                <a href="@Url.Tag(tagActivity.City, tagActivity.Tag)">@tagActivity.Tag.Name in @tagActivity.City.ASCIIName</a>
            </div>
        </div>
        }
        else if (activity is PlaceActivity)
        {
            var placeActivity = activity as PlaceActivity;
        <div class="activity" data-activity-id="@activity.Id" data-activity-type="place" title="Click for details">
            <div class="title">
                @placeActivity.Place.Name
            </div>
        </div>
        }
    }
</div>
