@{
    var hotels = (IEnumerable<ItineraryItem>)ViewBag.Hotels;
}
<div class="trip-day">
    <h3>
        Day @ViewBag.DayNumber</h3>
    @foreach (ItineraryItem itineraryItem in hotels.Where(h=>h.EndDay == ViewBag.DayNumber))
    {
        <div class="trip-day-itinerary-item hotel" data-id="@itineraryItem.Id" title="Click for details">
            <h4>
                Check out of <a href="@Url.Details(itineraryItem.Hotel)">@itineraryItem.Hotel.Name</a>
            </h4>
        </div>
    }
    @foreach (Transportation trans in ViewBag.Transportations)
    {
        <div class="trip-day-itinerary-item transportation" data-id="@trans.Id" title="Click for details">
            <h4>
                @trans.TransportationType.Name
                from <a href="@Url.Details((City)trans.FromCity)">@trans.FromCity.ASCIIName</a>
                to <a href="@Url.Details((City)trans.ToCity)">@trans.ToCity.ASCIIName</a>
            </h4>
        </div>            
    }
    @foreach (ItineraryItem itineraryItem in ViewBag.Websites)
    {
        <div class="trip-day-itinerary-item website" data-id="@itineraryItem.Id" title="Click for details">
            <img src="@Url.WebsiteThumb(itineraryItem.Website, Website.ThumbSize.Small)" alt="" />
            <h4>
                <a rel="nofollow" target="_blank" href="@itineraryItem.Website.URL">@itineraryItem.Website.Title</a>
            </h4>
        </div>
    }
    @foreach (ItineraryItem itineraryItem in ViewBag.DestinationTags)
    {
        <div class="trip-day-itinerary-item destination-tag" data-id="@itineraryItem.Id" title="Click for details">
            <h4>
                @itineraryItem.DestinationTag.Tag.Name in <a href="@Url.Details((City)itineraryItem.DestinationTag.City)">@itineraryItem.DestinationTag.City.ASCIIName</a>
            </h4>
        </div>
    }
    @foreach (ItineraryItem itineraryItem in hotels.Where(h=>h.BeginDay == ViewBag.DayNumber))
    {
        <div class="trip-day-itinerary-item hotel" data-id="@itineraryItem.Id" title="Click for details">
            <img src="@itineraryItem.Hotel.Photo.ThumbURL" alt="" />
            <h4>
                Check in to <a href="@Url.Details(itineraryItem.Hotel)">@itineraryItem.Hotel.Name</a>
            </h4>
        </div>        
    }
</div>
