<div class="trip-day">
    <h3>
        Day @ViewBag.DayNumber</h3>
    @foreach (Transportation trans in ViewBag.Transportations)
    {
        <div class="trip-day-itinerary-item .transportation">
            <h4>
                Flight from @trans.FromCity.ASCIIName to @trans.ToCity.ASCIIName
            </h4>
            <div class="link" data-action="edit-transportation" data-id="@trans.Id">
                edit</div>
        </div>            
    }
    @foreach (ItineraryItem itineraryItem in ViewBag.DayItinerary)
    {
        <div class="trip-day-itinerary-item">
            <div data-itinerary-item-id="@itineraryItem.Id" class="create-note-link link">
                + Add Note</div>
            @if (itineraryItem.Website != null)
            {
                <img src="@Url.WebsiteThumb(itineraryItem.Website, Website.ThumbSize.Small)" alt="" />
            }
            else if (itineraryItem.BaseItem != null && itineraryItem.BaseItem.Photos.Any())
            {
                <img src="@itineraryItem.BaseItem.Photos.OrderByDescending(p => p.IsDefault).First().ThumbURL" alt="" />
            }
            <h4>
                <a href="@Url.Details(itineraryItem)">@itineraryItem.Name</a>
            </h4>
            <div class="trip-day-itinerary-item-time">
                @itineraryItem.DateTimeString
            </div>
            @if (ViewBag.Editing)
            {
                <a href="@Url.EditItineraryItem(itineraryItem)">Edit</a> <a class="confirm-delete" href="@Url.DeleteItineraryItem(itineraryItem)">
                    Delete</a>
            }
            @if (itineraryItem.Notes != null)
            {
                <div class="itinerary-item-notes">
                    @foreach (Note note in itineraryItem.Notes)
                    {
                        <div class="itinerary-item-note">
                            <div class="edit-note-link link" data-note-id="@note.Id">
                                Edit</div>
                            <a class="link confirm-delete" href="@Url.Delete(note)">Delete</a>
                            @note.Text
                        </div>                        
                    }
                </div>
            }
        </div>
    }
</div>
