<div class="trip-day">
    <h3>
        Day @ViewBag.DayNumber</h3>
    @foreach (Transportation trans in ViewBag.Transportations)
    {
        <div class="trip-day-itinerary-item transportation" data-id="@trans.Id" title="Click for details">
            <h4>
                @trans.TransportationType.Name
                from <a href="@Url.Details((City)trans.FromCity)">@trans.FromCity.ASCIIName</a>
                to <a href="@Url.Details((City)trans.ToCity)">@trans.ToCity.ASCIIName</a>
            </h4>
        </div>            
    }
    @foreach (ItineraryItem itineraryItem in ViewBag.Websites)
    {
        <div class="trip-day-itinerary-item website" data-id="@itineraryItem.Id" title="Click for details">
            <img src="@Url.WebsiteThumb(itineraryItem.Website, Website.ThumbSize.Small)" alt="" />
            <h4>
                <a href="@Url.Details(itineraryItem)">@itineraryItem.Name</a>
            </h4>
            <div class="trip-day-itinerary-item-time">
                @itineraryItem.DateTimeString
            </div>
        </div>
    }
    @foreach (ItineraryItem itineraryItem in ViewBag.Hotels)
    {
        <div class="trip-day-itinerary-item hotel" data-id="@itineraryItem.Id" title="Click for details">
            <img src="@itineraryItem.Hotel.Photos.OrderByDescending(p => p.IsDefault).First().ThumbURL" alt="" />
            <h4>
                <a href="@Url.Details(itineraryItem)">@itineraryItem.Name</a>
            </h4>
            <div class="trip-day-itinerary-item-time">
                @itineraryItem.DateTimeString
            </div>
        </div>
    }
</div>
