@{
    Trip trip = ViewBag.Trip;
}
<div class="trip-row">
    @*<div class="link trip-row-map-link" title="Map of @trip.Name" data-trip-id="@trip.Id" data-trip-name="@trip.Name" data-link-url="@Url.Map(trip)" >
        map</div>*@
    <div class="trip-row-body">
        <a class="trip-row-title" href="@Url.Details(trip)">@trip.Name</a>
        <p>
            @trip.Dates.Count() days, @trip.Activities.Count() activities
        </p>
        @*@Helpers.TagList(Url, trip.Tags)*@
    </div>
</div>
