@{
    ViewBag.Title = "Create a Trip";
    CreateTripForm form = (CreateTripForm)ViewBag.Form;
}
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                Create a Trip</h1>
        </div>
        <div class="panel-content">
            <form action="@Url.CreateTrip()" method="post" id="create-trip-form">
            @Html.AntiForgeryToken()
            <p>
                @Html.ValidationMessage("to")
                <input type="text" name="toname" data-goog-reference-field="togoogreference" data-goog-id-field="togoogid" data-auto-submit="true" class="place-autocomplete" value="@form.ToName" placeholder="Destination" />
                <input type="hidden" name="togoogreference" value="@form.ToGoogReference" />
                <input type="hidden" name="togoogid" value="@form.ToGoogId" />
            </p>
            <p>
                <input type="submit" value="Start Planning >" />
            </p>
            </form>
        </div>
    </div>
</div>
