@{
    ViewBag.Title = "Create a Trip";
}
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                Create a Trip</h1>
        </div>
        <div class="panel-content">
            <form action="@Url.CreateTrip()" method="post" id="create-trip-form">
            @Html.AntiForgeryToken()
            @*<p>
                @Html.ValidationMessage("name")
                <label for="name">
                    Name your trip</label>
                <input type="text" name="name" id="name" value="@ViewBag.Form.Name" />
            </p>*@
            <p>
                @Html.ValidationMessage("from")
                <label for="fromname">
                    From</label>
                <input type="text" name="fromname" id="fromname" data-value-field-name="fromid" class="place-autocomplete focus" value="@ViewBag.Form.FromName" />
                <input type="hidden" id="fromid" name="fromid" value="@ViewBag.Form.FromId" />
            </p>
            <p>
                @Html.ValidationMessage("to")
                <label for="toname">
                    To</label>
                <input type="text" name="toname" id="toname" data-value-field-name="toid" class="place-autocomplete" value="@ViewBag.Form.ToName" />
                <input type="hidden" id="toid" name="toid" value="@ViewBag.Form.ToId" />
            </p>
            <p>
                @Html.ValidationMessage("numberofdays")
                <label for="numberofdays">
                    Number of days</label>
                <input type="text" id="numberofdays" name="numberofdays" value="@ViewBag.Form.NumberOfDays" />
            </p>
            <p>
                <input type="submit" value="Start Planning >" />
            </p>
            </form>
        </div>
    </div>
</div>
