@{
    Trip trip = ViewBag.Trip;
    ViewBag.Title = trip.Name;
    ViewBag.ShowInSiteMap = @trip.ShowInSearch;
    User currentUser = ViewBag.CurrentUser;
    bool CurrentUserOwnsTrip = currentUser.OwnsTrips(trip);
    bool Editing = currentUser.DefaultTrip == trip;
}
@section Scripts {
    <script type="text/javascript" charset="utf-8">
        $(function () {
            //            var tripId = $('#trip-map-container').data('trip-id');
            //            $.get('/maps/trip/' + tripId, function (mapData) {
            //                drawMap($('#trip-map-container'), mapData);
            //            });

            //            $('.toggler').click(function () {
            //                var selectorToToggle = $(this).data('selector-to-toggle');
            //                $(selectorToToggle).toggle();
            //            });

            $('.packing-list-tags.fluid').masonry({ itemSelector: '.packing-list-tag' });
        });
    </script>
}
<article>
    <header>
        <h1>@trip.Name<span class="right">by <a href="@Url.Details(trip.Creator)">@trip.Creator.FullName</a></span>
        </h1>
    </header>
    @*<section id="itinerary">
        <div class="activities">
            @for (int i = 1; i <= trip.TotalDays; i++)
            {
                Html.RenderAction("daydetails", "trips", new { trip, dayNumber = i });
            }
            @if (trip.Activities.Any(a => a.IsUnscheduled))
            {
                Html.RenderAction("daydetails", "trips", new { trip, dayNumber = -1 });
            }
        </div>
    </section>*@
    <section id="itinerary">
        <header>
            <h2>
                Itinerary
            </h2>
        </header>
        @if (trip.NonDeletedActivities.Any())
        {
            <ul class="activities2">
                @{ int dayNumber = 0; }
                @foreach (DateTime? date in trip.Dates)
                {
                    dayNumber++;
                    var activities = trip.ActivitiesOnDate(date).OrderBy(a => a.OrderNumber);

                    if (!activities.Any())
                    {
                        continue;
                    }

                    if (!date.HasValue)
                    {
                    <li class="date">Unscheduled Activities</li>
                    }
                    else
                    {
                    <li class="date">Day @dayNumber - @date.Value.ToString("MMMM dd, yyyy - dddd")
                    </li>   
                    }

                    foreach (var activity in activities)
                    {
                    <li class="activity" data-activity-id="@activity.Id">
                        @activity.GeneratedTitle
                    </li>
                    }
                }
            </ul>
        }
        else
        {
            <p>
                No activities found.
            </p>
        }
    </section>
    @if (trip.PackingListItems.Any() || CurrentUserOwnsTrip)
    {
        <section id="packinglist">
            @{
        Html.RenderAction("packinglistpartial", "trips", new { trip.Id, currentUser });
            }
        </section>
    }
@*    <section id="map">
        <h2>
            Map</h2>
        <div id="trip-map-container" data-trip-id="@trip.Id">
        </div>
    </section>*@
</article>
