@{
    Trip trip = ViewBag.Trip;
    ViewBag.Title = trip.Name;
    ViewBag.ShowInSiteMap = @trip.ShowInSearch;
    User currentUser = ViewBag.CurrentUser;
    bool CurrentUserOwnsTrip = currentUser.OwnsTrips(trip);
    bool Editing = currentUser.DefaultTrip == trip;
}
@section Scripts {
    <script type="text/javascript" charset="utf-8">
        $(function () {
            //            var tripId = $('#trip-map-container').data('trip-id');
            //            $.get('/maps/trip/' + tripId, function (mapData) {
            //                drawMap($('#trip-map-container'), mapData);
            //            });

            //            $('.toggler').click(function () {
            //                var selectorToToggle = $(this).data('selector-to-toggle');
            //                $(selectorToToggle).toggle();
            //            });

            $('.packing-list-tags.fluid').masonry({ itemSelector: '.packing-list-tag' });

            $('.invite').on('click', function (e) {
                var tripID = $(e.currentTarget).data('trip-id');
                console.log('tripID', tripID);
                var dialogContainer = $('<div>');

                var inviteDialog = new TT.Views.InviteDialog({ el: dialogContainer, tripID: tripID });
                inviteDialog.render();

                dialogContainer.dialog();
            });
        });
    </script>
}
<article>
    <header>
        <h1>@trip.Name</h1>
    </header>
    <section id="who">
        <header>
            <h2>
                Who's Going
                @if (currentUser.Email == "mikecomstock@gmail.com")
                {
                    <span><a class="invite" data-trip-id="@trip.Id">Invite Someone</a> </span>
                }
            </h2>
            <ul class="travelers">
                @foreach (UserTrip userTrip in trip.UserTripsFor(currentUser))
                {
                    <li><a href="@Url.Details(userTrip.User)">
                        <img src="@userTrip.User.PhotoURL" src="" />
                        <span>@userTrip.User.FullName</span> </a></li>
                }
            </ul>
        </header>
    </section>
    <section id="itinerary">
        <header>
            <h2>
                Itinerary
            </h2>
        </header>
        @if (trip.NonDeletedActivities.Any())
        {
            <ul class="activities2">
                @{ int dayNumber = 0; }
                @foreach (DateTime? date in trip.Dates)
                {
                    dayNumber++;
                    var activities = trip.ActivitiesOnDate(date).OrderBy(a => a.OrderNumber);

                    if (!activities.Any())
                    {
                        continue;
                    }

                    if (!date.HasValue)
                    {
                    <li class="date">Unscheduled Activities</li>
                    }
                    else
                    {
                    <li class="date">Day @dayNumber - @date.Value.ToString("MMMM dd, yyyy - dddd")
                    </li>   
                    }

                    foreach (var activity in activities)
                    {
                    <li class="activity" data-activity-id="@activity.Id">
                        @{
                        var mappablePlaces = activity.ActivityPlaces.Where(ap => ap.Place.StaticMapURL() != null).OrderBy(ap => ap.SortIndex);
                        }
                        @if (mappablePlaces.Any())
                        {
                            <ul class="maps">
                                @foreach (var place in mappablePlaces)
                                {
                                    <li>
                                        <img src="@place.Place.StaticMapURL()" alt="map of @place.Place.Name"/>
                                    </li>
                                }
                            </ul>   
                        }
                        @activity.Title
                        @if (activity.BeginAt.HasValue && activity.BeginAt.Value.HasTimePart())
                        {
                            <div>@activity.BeginAt.Value.ToShortTimeString()</div>
                        }
                    </li>
                    }
                }
            </ul>
        }
        else
        {
            <p>
                No activities found.
            </p>
        }
    </section>
    @*@if (trip.PackingListItems.Any() || currentUser.OwnsTrips(trip))
    {
        <section id="packinglist">
            @{
        Html.RenderAction("packinglistpartial", "trips", new { trip.Id, currentUser });
            }
        </section>
    }*@ @*    <section id="map">
        <h2>
            Map</h2>
        <div id="trip-map-container" data-trip-id="@trip.Id">
        </div>
    </section>*@
</article>
