@{
    ViewBag.Title = @ViewBag.Trip.Name;
}
@Html.Action("SidePanel", "Trips", new { ViewBag.Trip })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                @ViewBag.Trip.Name
            </h1>
            <div data-trip-id="@ViewBag.Trip.Id" class="create-transportation-link link">
                + Add Transportation</div>
            <div data-trip-id="@ViewBag.Trip.Id" class="create-website-link link">
                + Add Website</div>
        </div>
        <div class="panel-content">
            @for (int i = 1; i <= ViewBag.Trip.TotalDays; i++)
            {
                Html.RenderAction("daydetails", "trips", new { trip = (Trip)ViewBag.Trip, dayNumber = i });
            }
        </div>
    </div>
</div>
