@{
    ViewBag.Title = @ViewBag.Trip.Name;
}
<h1>@ViewBag.Trip.Name</h1>
<form action="@Url.AddWebsiteToTrip()" method="post">
<input type="hidden" value="@ViewBag.Trip.Id" name="tripId" />
<input type="text" name="url" />
<input type="submit" value="Add URL" />
</form>
<h2>
    Itinerary</h2>
@foreach (ItineraryItem itineraryItem in ViewBag.Trip.Itinerary)
{
    <h3>@itineraryItem.Website.Title</h3>
    <img src="@Url.WebsiteThumb(itineraryItem.Website, Website.ThumbSize.Medium)" alt="" />
    
}