@{
    UserTrip userTrip = ViewBag.UserTrip;
    Trip trip = userTrip.Trip;
    ViewBag.Title = trip.Name + " - Packing List";
    User currentUser = ViewBag.CurrentUser;
    var packingItems = trip.PackingItemSearch(byUser: currentUser, forUser: currentUser);
}
@section Scripts {
    <script type="text/javascript" charset="utf-8">
        $(function () {
            $('.packing-list-tags.fluid').masonry({ itemSelector: '.packing-list-tag' });
            $('.packing-list-items').on('click', '.inc, .dec', TT.Util.PL.PackingListClick);
            $('.packing-list-items').disableSelection();

            $('#add-pl-item').on('submit', function (e) {
                e.preventDefault();
                var form = $(e.currentTarget);
                var data = {
                    item: form.find('#pl_item').val(),
                    tag: form.find('#pl_tag').val(),
                    quantity: form.find('#pl_quantity').val()
                };

                var pi = new Backbone.Model();
                pi.urlRoot = '/packing';
                pi.save(data, {
                    success: function () { location.reload(); },
                    error: function () { alert('An error has occured!'); }
                });

            });
        });
    </script>
}
@if (currentUser.OwnsTrips(trip))
{
    @Html.Action("SidePanel", "Trips", new { trip })
}
<article>
    <header>
        @if (currentUser.OwnsTrips(trip))
        {
            <a href="@Url.PackingListIndex()">+ Find items to add</a> 
        }
        <h1>@ViewBag.Title</h1>
    </header>
    <form id="add-pl-item" class="subtitle" action="POST">
    <p>
        <strong>Add an item</strong>
    </p>
    <p>
        <label for="pl_item">
            Name:</label>
        <input id="pl_item" class="focus" placeholder="ex: cowboy  boots" />
        <label for="pl_tag">
            Category:</label>
        <input id="pl_tag" placeholder="ex: footwear" />
        <label for="pl_quantity">
            Quantity:</label>
        <input id="pl_quantity" />
        <input type="submit" value="Add" />
    </p>
    </form>
    <section id="packing">
        @if (packingItems.Any())
        {
            <div class="packing-list-tags fluid">
                @foreach (var tag in packingItems.Select(pi => pi.Tag).Distinct().OrderBy(t => t))
                {
                    <div class="packing-list-tag">
                        <h3>@(tag.IsNullOrEmpty() ? "General" : tag.ToTitleCase())</h3>
                        <ul class="packing-list-items">
                            @foreach (var packingItem in packingItems.Where(pi => pi.Tag == tag))
                            {
                                <li class="packing-list-item add-to-trip" data-type="packing-list-item" data-item="@packingItem.Item" data-tag="@packingItem.Tag" data-quantity="@packingItem.Quantity">
                                    @packingItem.Item.ToTitleCase()
                                    <div class="right">
                                        <span class="dec">-</span> <span class="quantity">@packingItem.Quantity</span> <span class="inc">+</span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }
        else
        {
            <p>
                No items found.
            </p>
        }
        @if (currentUser.OwnsTrips(trip))
        {
            <footer>
                <p>
                    Need some inspiration? <a href="@Url.PackingListIndex()">Find items to add</a>
                </p>
                <p>
                    Your packing list is private. No one else can see it.
                </p>
            </footer>
        }
    </section>
</article>
