@{
    ViewBag.Title = @ViewBag.Trip.Name;
    ViewBag.ShowInSiteMap = @ViewBag.Trip.ShowInSiteMap;
    var items = (IEnumerable<Item>)ViewBag.Items;
    var tags = (IEnumerable<Tag>)ViewBag.Tags;
}
@Html.Action("SidePanel", "Trips", new { ViewBag.Trip })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                @ViewBag.Trip.Name
            </h1>
        </div>
        <div class="panel-content">
            <div class="items">
                @foreach (var item in items)
                {
                    <div class="item">
                        @item.Name
                        @if (!string.IsNullOrWhiteSpace(item.URL))
                        {
                            <a href="@item.URL">Buy on Amazon</a>
                        }
                        <div class="item-tags">
                            Tags:
                            @foreach (var tag in tags.Where(t => t.Items.Contains(item)))
                            {
                                <a href="@Url.Details(tag)">@tag.Name</a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
