@{
    Trip trip = ViewBag.Trip;
    IEnumerable<PackingListItem> packingListItems = ViewBag.PackingListItems;
    IEnumerable<PackingListItem> packingListItemsNoTag = packingListItems.Where(pli => pli.ItemTag.Tag == null);
    IEnumerable<Tag> tags = ViewBag.Tags;
    ViewBag.Title = trip.Name + " - Packing List";
    ViewBag.ShowInSiteMap = @trip.ShowInSearch;
    User currentUser = ViewBag.CurrentUser;
    IEnumerable<ItemTag> suggestions = ViewBag.Suggestions;
}
<header>
    <h2>
        Packing List
        @if (currentUser.DefaultTrip == trip)
        {
            <span><a href="@Url.PackingListIndex()">Search Items</a></span>
        }
    </h2>
    @if (suggestions.Any() && ViewBag.UserOwnsTrip && trip == currentUser.DefaultTrip)
    {
        <div class="panel-suggestions">
            <div class="title link toggler" data-selector-to-toggle=".packing-list-items.suggestions">
                + Popular items you might need</div>
            <ul class="packing-list-items suggestions">
                @foreach (ItemTag itemTag in suggestions)
                {
                    <li class="packing-list-item add-to-trip" data-type="packing-list-item" data-name="@itemTag.Item.Name" data-tag="@(itemTag.Tag == null ? string.Empty : itemTag.Tag.Name)" title="Click to add to trip"><span class="name">
                        @itemTag.Item.Name
                        @if (itemTag.Tag != null)
                        {
                            <span class="packing-list-item-tag">for <a href="@Url.Details(itemTag.Tag)">@itemTag.Tag.NiceName</a> </span>
                        }
                    </span></li>
                }
            </ul>
        </div>
    }
</header>
@if (packingListItems.Any())
{
    <div class="packing-list-tags fluid">
        @if (packingListItemsNoTag.Any())
        {
            <div class="packing-list-tag">
                <h3>
                    General Items</h3>
                @ItemList(packingListItemsNoTag)
            </div>
        }
        @if (tags.Any())
        {
            foreach (var tag in tags)
            {
            <div class="packing-list-tag">
                <h3>
                    <a href="@Url.Details(tag)">@tag.NiceName</a>
                </h3>
                @ItemList(packingListItems.Where(pli => pli.ItemTag.Tag == tag))
            </div>
            }
        }
    </div>
}
else
{
    <p>
        No packing list items found.
    </p>
}
@helper ItemList(IEnumerable<PackingListItem> plis)
    {
    <ul class="packing-list-items">
        @foreach (PackingListItem pli in plis.OrderBy(pli => pli.ItemTag.Item.Name))
        {
            <li class="packing-list-item @pli.Visibility.GetClassName() @(ViewBag.UserOwnsTrip ? "owned" : string.Empty)" data-id="@pli.Id" title="Click to edit"><span class="name">@pli.ItemTag.Item.Name</span>
                @if (pli.Place != null)
                {
                    <text>for <a class="packing-list-item-place" href="@Url.Details(pli.Place)">@pli.Place.Name</a></text>
                }
                @if (!string.IsNullOrEmpty(pli.Note))
                {
                    <div class="packing-list-item-note">@pli.Note</div>
                }
            </li>         
        }
    </ul>
}