@{
    ViewBag.Title = @ViewBag.Trip.Name + " - Packing List";
    ViewBag.ShowInSiteMap = @ViewBag.Trip.ShowInSiteMap;
    var items = (IEnumerable<AmazonItem>)ViewBag.Items;
    var tags = (IEnumerable<Tag>)ViewBag.Tags;
}
@Html.Action("SidePanel", "Trips", new { ViewBag.Trip })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                @ViewBag.Title
            </h1>
        </div>
        <div class="panel-content">
            @foreach (var tag in tags.Where(t => t.Items.Any()))
            {
                <div class="tag-group">
                    <div class="title">@tag.Name</div>
                    @Helpers.ItemList(Url, tag.Items)
                </div>
            }
        </div>
    </div>
</div>
