@{
    Trip trip = ViewBag.Trip;
    IEnumerable<PackingListItem> packingListItems = ViewBag.PackingListItems;
    IEnumerable<PackingListItem> packingListItemsNoPlace = packingListItems.Where(pli => pli.Place == null);
    IEnumerable<Place> places = ViewBag.Places;
    ViewBag.Title = trip.Name + " - Packing List";
    ViewBag.ShowInSiteMap = @trip.ShowInSiteMap;
    User currentUser = ViewBag.CurrentUser;
}
@Html.Action("SidePanel", "Trips", new { Trip = trip })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                @ViewBag.Title
            </h1>
        </div>
        @if (currentUser.DefaultTrip == trip)
        {
            <div class="subtitle">
                Use the <strong>+Add Plans</strong> menu to add items to your packing list.
            </div>
        }
        <div class="panel-content">
            @if (packingListItems.Any())
            {
                if (packingListItemsNoPlace.Any())
                {
                <div class="packing-list-place">
                    @if (places.Any())
                    {
                        <h2>
                            General Items</h2>
                    }
                    @ItemList(packingListItemsNoPlace)
                </div>
                }

                if (places.Any())
                {
                    foreach (var place in places)
                    {
                <div class="packing-list-place">
                    <h2>
                        <a href="@Url.Details(place)">@place.Name</a>
                    </h2>
                    @ItemList(packingListItems.Where(pli => pli.Place == place))
                </div>
                    }
                }
            }
            else
            {
                <p>
                    No items found.
                </p>
            }
        </div>
    </div>
</div>
@helper ItemList(IEnumerable<PackingListItem> plis)
    {
    <ul class="packing-list-items">
        @foreach (PackingListItem pli in plis.OrderBy(pli => pli.ItemTag.Item.Name))
        {
            <li class="packing-list-item @pli.Visibility.GetClassName() @(ViewBag.UserOwnsTrip ? "owned" : string.Empty)" data-id="@pli.Id">
                <div class="name">
                    @pli.ItemTag.Item.Name
                </div>
                @if (!string.IsNullOrEmpty(pli.Note))
                {
                    <div class="packing-list-item-note">@pli.Note</div>
                }
                @if (pli.ItemTag != null && pli.ItemTag.Tag != null)
                {
                    <a href="@Url.Details(pli.ItemTag.Tag)" class="packing-list-item-tag">@pli.ItemTag.Tag.NiceName</a>
                }
            </li>         
        }
    </ul>
}