@{
    var trip = (Trip)ViewBag.Trip;
    var packingListItems = (IEnumerable<PackingListItem>)ViewBag.PackingListItems;
    var activities = (IEnumerable<Activity>)ViewBag.Activities;
    ViewBag.Title = trip.Name + " - Packing List";
    ViewBag.ShowInSiteMap = @trip.ShowInSiteMap;
    User currentUser = (User)ViewBag.CurrentUser;
}
@Html.Action("SidePanel", "Trips", new { Trip = trip })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                @ViewBag.Title
            </h1>
        </div>
        @if (currentUser.DefaultTrip == trip)
        {
            <div class="subtitle">
                Use the <strong>+Add Plans</strong> menu to add items to your packing list.
            </div>
        }
        <div class="panel-content">
            @if (packingListItems.Any())
            {
                if (activities.Any())
                {
                    foreach (var activity in activities)
                    {
                        var plis = packingListItems.Where(pli => pli.Activity == activity);
                <div>
                    <h2>@activity.NiceName</h2>
                    @ByTag(plis)
                </div>
                    }
                }

                var plisNoActivity = packingListItems.Where(pli => pli.Activity == null);
                if (plisNoActivity.Any())
                {
                <div>
                    <h2>
                        Other Activities</h2>
                    @ByTag(plisNoActivity)
                </div>
                }

            }
            else
            {
                <p>
                    No items found.
                </p>
            }
        </div>
    </div>
</div>
@helper ByTag(IEnumerable<PackingListItem> plis)
    {
        var tags = plis.Select(pli => pli.ItemTag.Tag).Where(t => t != null).Distinct().ToList().OrderBy(t => t.NiceName);
        foreach (var tag in tags)
        {
    <div class="packing-list-tag-group">
        <h3 title="@tag.Name">
            <a href="@Url.Details(tag)">@tag.NiceName</a></h3>
        @ItemList(plis.Where(pli => pli.ItemTag.Tag == tag))
    </div>
        }

        var uncategorized = plis.Where(pli => pli.ItemTag.Tag == null);
        if (uncategorized.Any())
        {
    <div class="packing-list-tag-group">
        <h3 title="uncategorized items">
            Uncategorized</h3>
        @ItemList(uncategorized)
    </div>
        }    
}
@helper ItemList(IEnumerable<PackingListItem> plis)
    {
    <ul class="packing-list-items">
        @foreach (PackingListItem pli in plis)
        {
            <li class="packing-list-item @pli.Visibility.GetClassName() @(ViewBag.UserOwnsTrip ? "owned" : string.Empty)" data-id="@pli.Id">
                <div class="name">
                    @pli.ItemTag.Item.Name
                </div>
                @if (!string.IsNullOrEmpty(pli.Note))
                {
                    <div class="packing-list-item-note">@pli.Note</div>
                }
            </li>         
        }
    </ul>
}