@{
    ViewBag.Title = "Trip Settings";
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () { document.getElementById('name').focus(); });
    </script>
}
@Html.Action("SidePanel", "Trips", new { ViewBag.Trip })
<div id="main-container">
    <div class="panel">
        <div class="panel-title">
            <h1>
                Settings</h1>
        </div>
        <div class="panel-content">
            <form action="@Url.Settings((Trip)ViewBag.Trip)" method="post" id="create-trip-form">
            @Html.AntiForgeryToken()
            <p>
                @Html.ValidationMessage("name")
                <label for="name">
                    Trip Name</label>
                <input type="text" name="name" id="name" value="@ViewBag.Form.Name" />
            </p>
            @*<p>
                <label for="begindate">
                    Start Date</label>
                <input type="text" name="begindate" value="@ViewBag.Form.BeginDate" />
            </p>*@
            <input type="submit" value="Save Settings" />
            </form>
        </div>
    </div>
</div>
