@{
    ViewBag.Title = @ViewBag.Trip.Name + " - Who's Going";
    User currentUser = ViewBag.CurrentUser;
    Trip trip = ViewBag.Trip;
}
@section Scripts {
    <script type="text/javascript" charset="utf-8">

        TT.Models.UserTrip = Backbone.Model.extend({ urlRoot: '/usertrips' });
        TT.Models.EmailInvite = Backbone.Model.extend({ urlRoot: '/invitations' });

        $(function () {

            $('.travelers').on('click', '.delete', function (e) {
                e.preventDefault();
                if (!confirm('Are you sure?')) return;

                var li = $(e.currentTarget).closest('li');
                var id = $(e.currentTarget).data('id');
                var ut = new TT.Models.UserTrip({ id: id });
                ut.destroy({
                    success: function () {
                        li.slideUp();
                    },
                    error: function () { alert('User could not be removed.'); }
                });
            });

            $('#add-someone').on('submit', function (e) {
                e.preventDefault();
                var form = $(this);

                var fields = {
                    trip_id: form.find('[name="trip_id"]').val(),
                    FirstName: form.find('[name="FirstName"]').val(),
                    LastName: form.find('[name="LastName"]').val()
                };
                var ut = new TT.Models.UserTrip();
                ut.save(fields, {
                    success: function (model, response) {
                        var template = _.template($("#traveler_row_template").html());
                        var li = $(template({ userTrip: model.attributes }));
                        li.prependTo($('.travelers'));

                        form.find('[name="FirstName"]').val('');
                        form.find('[name="LastName"]').val('');

                        li.find('[name="email"]').focus();
                        setTimeout(function () { li.find('form').effect('highlight', { color: '#0190E9' }, 4000); }, 500);

                    },
                    error: function (model, response) {
                        alert('Something went wrong!');
                    }
                });
            });

            $('.travelers').on('submit', '.invite', function (e) {
                e.preventDefault();
                var form = $(this);

                var fields = {
                    usertrip_id: form.find('[name="usertrip_id"]').val(),
                    email: form.find('[name="email"]').val()
                };
                var i = new TT.Models.EmailInvite();
                i.save(fields, {
                    success: function (model) {
                        form.closest('.expanded').removeClass('not-sent').addClass('sent');
                        $('#add-someone [name="FirstName"]').focus();
                    },
                    error: function (model, response) {
                        alert('Something went wrong!');
                    }
                });
            });
        });
    </script>
}
@Html.Action("SidePanel", "Trips", new { trip })
<script type="text/template" id="traveler_row_template">
    <li>
        <img src="<%= userTrip.PhotoURLSmall %>" alt="" />
        <a class="user" href="/users/<%= userTrip.UserId %>"><%= userTrip.FullName %></a>
        <a class="delete" data-id="<%= userTrip.id %>">remove</a>
        <div class="expanded not-sent">
            <form class="invite">
            Invite <%= userTrip.FirstName %> to help plan:
            <input type="hidden" name="usertrip_id" value="<%= userTrip.id %>" />
            <input name="email" id="invite_email" placeholder="<%= userTrip.FirstName %>'s email" >
            <input type="submit" value="Invite" />
            </form>
            <div class="sent">
            Invitation sent!
            </div>
        </div>
    </li>
</script>
<div id="main-container">
    <div class="panel">
        <header>
            <h1>
                @ViewBag.Title
            </h1>
        </header>
        @if (TempData["message"] != null)
        {
            <div class="subtitle">
                @TempData["message"]
            </div>
        }
        @if (currentUser.CreatedTrips(trip))
        {
            <div class="subtitle">
                Enter the names of everyone that's going on the trip.
            </div>
        }
        <div class="panel-content not-padded">
            @if (string.IsNullOrWhiteSpace(currentUser.FirstName) && string.IsNullOrWhiteSpace(currentUser.LastName))
            {   
                <form action="/usertrips" method="POST">
                <h3>
                    Your Info</h3>
                @Html.AntiForgeryToken()
                <input type="hidden" name="trip_id" value="@trip.Id"/>
                <input type="hidden" name="you" value="true" />
                <input name="FirstName" placeholder="Your First Name" class="focus" />
                <input name="LastName" placeholder="Your Last Name" />
                <input type="submit" value="Save" />
                </form>
            }
            else
            {
                if (currentUser.CreatedTrips(trip))
                {
                <form id="add-someone">
                <h3>
                    Add Someone</h3>
                @Html.AntiForgeryToken()
                <input type="hidden" name="trip_id" value="@trip.Id"/>
                <input name="FirstName" placeholder="First Name" class="focus" />
                <input name="LastName" placeholder="Last Name" />
                <input type="submit" value="Add Traveler" />
                </form>
                }
                <ul class="travelers">
                    @foreach (UserTrip userTrip in trip.UserTripsFor(currentUser).OrderByDescending(ut => ut.Id))
                    {
                        <li>
                            <img src="@userTrip.User.PhotoURLSmall" alt="" />
                            <a class="user" href="@Url.Details(userTrip.User)">@userTrip.User.FullName</a>
                            @if (currentUser.CreatedTrips(trip))
                            {
                                <a class="delete" data-id="@userTrip.Id">remove</a>
                                if (userTrip.User != currentUser)
                                {
                                <div class="expanded @(userTrip.EmailInvites.Any() ? "sent" : "not-sent")">
                                    <form class="invite">
                                    Invite @userTrip.User.FirstName to help plan:
                                    <input type="hidden" name="usertrip_id" value="@userTrip.Id" />
                                    <input name="email" id="invite_email" placeholder="@userTrip.User.FirstName's email" >
                                    <input type="submit" value="Invite" />
                                    </form>
                                    <div class="sent">
                                        Invitation sent!
                                    </div>
                                </div>
                                }
                            }
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</div>
