@{
    ViewBag.Title = "Create a Trip";
}
@section Scripts {
    <script type="text/javascript" charset="utf-8">

        $(function () {

            $('.next').on('click', function (e) {
                e.preventDefault();
                var fieldset = $(this).closest('fieldset');
                fieldset.hide();
                fieldset.next().show();
                fieldset.next().find('input').first().focus();
            });

            $('.previous').on('click', function (e) {
                e.preventDefault();
                var fieldset = $(this).closest('fieldset');
                fieldset.hide();
                fieldset.prev().show();
                fieldset.prev().find('input').first().focus();
            });

            $('.submit').on('click', function (e) {
                $(this).closest('form').submit();
            });

            $('#w_to').on('change', function (e) {
                var to = $('#w_to').val();
                var title = to ? 'Trip to ' + to : '';
                $('#w_title').val(title);
            });

        });
        
    </script>
}
<form action="/trips/wizard" method="POST">
<fieldset>
    <h2>
        Where are you going?</h2>
    <p>
        <label for="w_to">
            To
        </label>
        <input type="text" id="w_to" name="to" class="focus" />
    </p>
    <p>
        <label for="w_from">
            From
        </label>
        <input type="text" id="w_from" name="from" />
    </p>
    <p>
        <label for="w_how">
            How?</label>
        <select id="w_how" name="how">
            <option>Fly</option>
            <option>Drive</option>
            @{
                string[] funny = { "Gyrocopter", "Space Ship", "Time Machine", "Wild Horse", "Unicycle", "Camel", "Train", "Steamboat", "Bicycle", "Motorcycle" };
                Random r = new Random();
            }
            <option>@funny[r.Next(0, funny.Length)]</option>
            <option>@funny[r.Next(0, funny.Length)]</option>
        </select>
    </p>
    <p class="buttons">
        <button class="button large green next">
            Next</button>
    </p>
</fieldset>
<fieldset>
    <h2>
        Title & Dates
    </h2>
    <p>
        <label for="w_title">
            Title</label>
        <input type="text" id="w_title" name="title" />
    </p>
    <p>
        <label for="w_visibility">
            Visibility</label>
        <select id="w_visibility" name="visibility">
            <option>Public</option>
            <option>Travelers</option>
        </select>
    </p>
    <p>
        <label for="w_begin">
            Begin Date</label>
        <input type="date" name="begin" id="w_begin" />
    </p>
    <p>
        <label for="w_end">
            End Date</label>
        <input type="date" name="end" id="w_end" />
    </p>
    <p class="buttons">
        <a class="previous">go back</a>
        <button class="button large green next">
            Next</button>
    </p>
</fieldset>
<fieldset>
    <h2>
        Who is going?</h2>
    @foreach (var i in Enumerable.Range(1, 4))
    {
        <p>
            <label for="@("w_name_" + i)">
                Traveler @i</label>
            <input type="text" id="@("w_name_" + i)" name="travelers" placeholder="name"/>
            @*<input type="text" id="@("w_name_" + i)" name="travelers[@i]" placeholder="name"/>
            <label for="@("w_email_" + i)">
                Email</label>
            <input type="text" id="@("w_email_" + i)" name="travelers[@i].email"/>*@
        </p>
    }
    <p class="buttons">
        <a class="previous">go back</a>
        <button class="button large green next">
            Next</button>
    </p>
</fieldset>
<fieldset class="packing-fieldset">
    <h2>
        Packing List</h2>
    <p>
        <label for="w_packing">
            <input type="checkbox" id="w_packing" name="packing" checked="checked" value="true" />
            Add standard packing list items?
        </label>
    </p>
    <p class="buttons">
        <a class="previous">go back</a>
        <button class="button large green submit">
            Create Trip</button>
    </p>
</fieldset>
</form>
