@model Triptitude.Biz.Models.Tag
@{
    ViewBag.Title = "Edit " + Model.Name;
}
<h1>@ViewBag.Title</h1>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
 
    @Html.HiddenFor(model => model.Id)
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
    </div>
    <p>
        <input type="submit" value="Save" />
    </p>
}
<h2>
    Add Item</h2>
@AdminHelpers.CreateItemTag(Url, Model.Name, string.Empty)
<h2>
    Items - Not Moderated</h2>
@AdminHelpers.ItemTagTable(Url, Model.ItemTags.Where(it => !it.ModeratedOnUTC.HasValue).OrderBy(it => it.Id))
<h2>
    Items - Recently Moderated</h2>
@AdminHelpers.ItemTagTable(Url, Model.ItemTags.Where(it => it.ModeratedOnUTC.HasValue).OrderByDescending(it => it.ModeratedOnUTC))
