@{
    UserTrip userTrip = ViewBag.UserTrip;
    User currentUser = ViewBag.CurrentUser;
    EmailInvite invite = userTrip.EmailInvites.OrderByDescending(ei => ei.Id).FirstOrDefault();
    ViewBag.Title = "Trip Invitation";
}
@section Scripts {
    <script type="text/javascript" charset="utf-8">
        $(function () {
            var signInForm = $('#sign-in');
            var signUpForm = $('#sign-up');
            signInForm.on('click', '.toggle', function () { $('#confirm-form').removeClass('show-sign-in').addClass('show-sign-up'); });
            signUpForm.on('click', '.toggle', function () { $('#confirm-form').removeClass('show-sign-up').addClass('show-sign-in'); });

            signInForm.on('submit', function (e) {
                e.preventDefault();
                var user = new TT.Models.User({
                    email: signInForm.find('[name="email"]').val(),
                    password: signInForm.find('[name="password"]').val()
                });
                user.signIn({
                    success: function () { $('#accept').submit(); },
                    error: function (response) {
                        var message = $.parseJSON(response.responseText).message;
                        alert(message);
                    }
                });
            });

            signUpForm.on('submit', function (e) {
                e.preventDefault();
                var user = new TT.Models.User({
                    name: signUpForm.find('[name="name"]').val(),
                    email: signUpForm.find('[name="email"]').val(),
                    password: signUpForm.find('[name="password"]').val()
                });
                user.save(null, {
                    success: function () { $('#accept').submit(); },
                    error: function (model, response) {
                        var message = $.parseJSON(response.responseText).message;
                        alert(message);
                    }
                });
            });
        });
    </script>
}
<div class="panel">
    <header>
        <h1>
            @userTrip.Trip.Creator.NameOrAnon wants to plan a trip with you!
        </h1>
    </header>
    <div class="panel-content">
        <div id="confirm-form" class="@(currentUser.IsRegistered ? "show-accept" : (ViewBag.EmailTaken ? "show-sign-in" : "show-sign-up"))">
            <header>
                <h3>
                    Accept the Invitation</h3>
            </header>
            <form id="sign-in" class="sign-in-form" method="POST">
            <h4>
                Sign In</h4>
            <p>
                <label for="email1">
                    Email</label>
                <input type="text" name="email" id="email1" value="@invite.Email" />
            </p>
            <p>
                <label for="password1">
                    Password</label>
                <input type="password" name="password" id="password1" value="" />
            </p>
            <p class="submit">
                <input type="submit" value="Start Planning" class="submit" />
                <a class="toggle">Create an account</a>
            </p>
            </form>
            <form id="sign-up" class="sign-up-form" method="POST">
            <h4>
                Confirm Your Info</h4>
            <p class="name">
                <label for="name">
                    Name</label>
                <input type="text" name="name" id="name" value="@userTrip.User.Name" />
            </p>
            <p class="email">
                <label for="email2">
                    Email</label>
                <input type="text" name="email" id="email2" value="@invite.Email" />
            </p>
            <p class="password">
                <label for="password2">
                    Create a Password</label>
                <input type="password" name="password" id="password2" value="" />
            </p>
            <p class="submit">
                <input type="submit" value="Start Planning" />
                <a class="toggle">I have an account</a>
            </p>
            </form>
            <form id="accept" action="/i/@userTrip.Guid" method="POST">
            <h4>
                You're currently signed in as <a href="@Url.Details(currentUser)">@currentUser.NameOrAnon</a>.<br />
                Do you want to accept this invitation and begin planning?</h4>
            <p class="submit">
                <input type="submit" value="Start Planning" />
            </p>
            </form>
        </div>
        @*<form action="/i/@userTrip.Guid" method="POST">
        <input type="submit" value="Start Planning" class="start-planning" />
        </form>*@
        <h2>
            Trip Name</h2>
        <div class="trip">@userTrip.Trip.Name</div>
        <h2>
            Who's Going</h2>
        <ul class="travelers-h">
            @foreach (var ut in userTrip.Trip.UserTripsFor(userTrip.User).OrderBy(ut => ut.Id))
            {
                <li><a href="@Url.Details(ut.User)">
                    <img src="@ut.User.PhotoURL" alt="" />
                    <span>@ut.User.NameOrAnon</span> </a></li>
            }
        </ul>
    </div>
</div>
