@{
    UserTrip userTrip = ViewBag.UserTrip;
    ViewBag.Title = "Trip Invitation";
    ViewBag.HideTripBar = true;
}
<div class="panel">
    <header>
        <h1>
            @userTrip.Trip.Creator.FullName wants to plan a trip with you!
        </h1>
    </header>
    <div class="panel-content">
        <h2>
            Trip Name</h2>
        <div class="trip">@userTrip.Trip.Name</div>
        <h2>
            Who's Going</h2>
        <ul class="travelers-h">
            @foreach (var ut in userTrip.Trip.UserTripsFor(userTrip.User).OrderBy(ut => ut.Id))
            {
                <li><a href="@Url.Details(ut.User)">
                    <img src="@ut.User.PhotoURL" alt="" />
                    <span>@ut.User.FullName</span> </a></li>
            }
        </ul>
        <form action="/i/@userTrip.Guid" method="POST">
        <input type="submit" value="Start Planning" class="start-planning" />
        </form>
    </div>
</div>
